---
# Front matter comment to ensure Jekyll properly reads file.
---

@import "variables";

.about-row {
  margin: 0;
  margin-bottom: 40px;

  .card {
    text-align: center;

    svg {
      display: inline-block;
      height: 70px;
      width: 400px;
      max-width: 100%;
    }
  }

  p {
    padding: 0 30px;
  }
}

.row.tiles {
  .tile.text {
    h2 {
      font-size: 3.2rem;
    }

    p {
      font-size: 2.2rem;
    }

    .overlay {
      display: none;

      p {
        font-size: 1.6rem;
      }
    }

    &.dark .overlay {
      margin-top: -3em;
    }

    &:hover {
      .wrapper {
        display: none;
      }
      .overlay {
        cursor: default;
        position: absolute;
        display: block;
        max-width: 50em;
        z-index: 1;
      }
    }
  }
}

iframe {
  width: 100%;
}
