---
# Front matter comment to ensure Jekyll properly reads file.
---

@import "variables";

hr {
  display: none;
}

h1.hero-tagline {
  font-size: 3rem !important;
  font-weight: 600 !important;
  font-style: normal !important;
}

.about-row {
  .card {
    text-align: center;
    padding: 2rem 5rem;
    margin-bottom: 4.5rem;

    svg {
      display: inline-block;
      height: 70px;
      width: 400px;
      max-width: 100%;
    }
  }

.blurb + .row {
  .card {
    text-align: center;
    padding: 2rem 5rem;
    margin-bottom: 4.5rem;
    }
  }
    
    
  p {
    padding: 0 30px;
  }
}

.row.tiles {
  .tile.text {
    h2 {
      font-size: 3.2rem;
    }

    p {
      font-size: 2.2rem;
    }

    .overlay p {
      font-size: 1.6rem;
    }
  }
}

iframe {
  width: 100%;
}

.row.img {
  display: block;
  margin-bottom: -3px;
  padding-bottom: 0 !important;
}

@media (min-width: 1080px) {
  .about-row .half {
    &:nth-child(1) .card.light {
      margin-left: 2rem;
    }
    &:nth-child(2) .card.light {
      margin-right: 3rem;
    }
  }
  .tiles .half.tile.text {
    &:hover, &:focus {
      background-color: $gray3;

      .wrapper {
        display: none;
      }
      .overlay {
        cursor: default;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: block;
        max-width: 50em;
        margin: auto;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        p {
          color: $bodyBg;
        }
      }
    }
    .overlay {
      display: none;
    }

    &.dark .overlay {
      margin-top: -3em;
    }
  }
}

@media (max-width: 1080px) {
  hr {
    display: block;
  }
}
