---
# Front matter comment to ensure Jekyll properly reads file.
---

@import "variables";

.about-row {
  margin-bottom: 40px;

  .card {
    text-align: center;

    svg {
      display: inline-block;
      height: 70px;
      width: 400px;
      max-width: 100%;
    }
  }

  p {
    padding: 0 30px;
    font-weight: 300;
  }
}

.row.tiles {
  .tile.text {
    background: $gray1;

    h2 {
      font-size: 3.2rem;
      color: $gray4;
    }

    p {
      color: $gray3;

      strong {
        color: $gray4;
      }
    }

    .overlay {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $gray3;
      z-index: 100;
      padding: 30px;

      p {
        color: $gray0;
        font-size: 1.6rem;
        position: static;
        display: block;
        left: 0;
        right: 0;
        max-width: none;
      }
    }
  }
}

iframe {
  width: 100%;
}

@media (max-width: 1200px) {
  .about-row {
    margin: 0;
  }
}

@media (max-width: 1195px) {
  .row.tiles {
    .tile.text {
      h2 {
        font-size: 3rem;
      }

      p {
        font-size: 2rem;
      }

      .overlay {
        padding: 30px;
      }
    }
  }
}

@media (max-width: 1125px) {
  .row.tiles {
    .tile.text {
      h2 {
        font-size: 2.6rem;
      }

      .overlay {
        padding: 20px;

        p:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

@media (min-width: 1093px) {
  .row.tiles {
    .tile.text {
      &:hover {
        .overlay {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 1092px) {
  .row.tiles {
    .tile.text {
      cursor: pointer;

      p {
        font-size: 1.8rem;
      }

      .overlay {
        cursor: pointer;
        position: fixed;
        overflow-y: auto;
        padding: 50px 15px;

        &:before {
          content: "\00d7";
          display: block;
          font-size: 4rem;
          position: absolute;
          top: 10px;
          right: 30px;
          color: white;
        }

        p {
          max-width: 450px;
          margin: 15px auto;
        }
      }
    }
  }
}

@media (max-width: 920px) {
  .row.tiles {
    .tile.text {
      h2 {
        font-size: 2.4rem;
      }
    }
  }
}
