---
# Front matter comment to ensure Jekyll properly reads file.
---

@import "variables";

ul {
	list-style-position: inside;
	padding-left: 0;
}

.row.light {
	p {
		font-size: 2.3rem;
	}

	ul {
		color: $gray3;
		font-size: 2em;
	}

	.third {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
	}

	.third:first-child {
		flex-grow: 1.2;
	}
}

.card.dark {
	font-size: .8em;
	padding: 5rem;

	h3 {
		margin-top: 0;
	}

	ul {
		font-weight: 300;
	}
}

.two-thirds h3:first-child {
	margin-top: 0;
}

.blurb {
	.third {
		ul li {
			font-size: 1.8rem;
			font-weight: 400;
			color: $gray4;
		}
	}
}

.blurb + .row {
  display: flex;
  align-items: flex-start;

  .two-thirds {
  	padding-left: 0;
  }
}

.tile.text {
	ul {
		list-style: none;
	}
}

@media (min-width: 1120px) {
	.third.card.dark {
		max-width: 31%;
		margin-right: 5rem;
	}

	h3:nth-child(3) {
		padding-top: 3rem;
	}
}

@media (max-width: 1120px) {
	.blurb + .row {
		& > div {
			flex-basis: 100%;
			padding-left: 0;

			h3 {
				margin-bottom: 0;
				padding-bottom: 0 !important;
			}
		}

		.third.card.dark {
			margin-bottom: 4rem;
			padding: 2rem;
			padding-left: 3rem;

			h3 {
				padding-bottom: 0;
			}
		}
	}
}

@media (max-width: 1020px) {
	.blurb {
		.third {
			&:nth-child(2) {
				ul {
					margin-bottom: 0;
				}
			}

			&:nth-child(3) {
				ul {
					margin-top: 0;
				}
			}
		}
	}
}

@media (max-width: 850px) {
	.blurb {
		.third {
			&:nth-child(2) {
				margin-bottom: 0;
			}
			&:nth-child(3) {
				margin-top: 0;
			}
		}
	}
}
