---
# Front matter comment to ensure Jekyll properly reads file.
---

.video + .row {
  margin-bottom: 8em;
  padding-top: 2em;
}

table {
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 1.8rem;
}

.table {
  padding-left: 10em !important;
}

small {
  display: block;
  width: 100%;
}
