---
# Front matter comment to ensure Jekyll properly reads file.
---

@import "variables";

h3 {
	font-weight: 500;
}

.card p {
	margin-top: 0;
}

.tiles {
	margin-bottom: 3em;
}

.tile {
	h2 {
		padding-top: 1em;
	}

	a {
		margin-top: 1em;
	}

	p, ul {
		font-size: 1.6rem;
	}
}

.row:nth-child(4) {
	ul {
		color: $gray3;
	}
	padding-bottom: 3em;
}
