---
# Front matter comment to ensure Jekyll properly reads file.
---

@import "variables";

h3 {
	font-weight: 500;
}

.two-thirds h3:last-of-type {
	padding-top: 3rem;
}

.card p {
	margin-top: 0;
}

.schedule-consultation {
	margin-bottom: 3rem;
}

footer {
	margin-top: -3rem;
}

.tile {
	a {
		margin-top: 1em;
	}

	p, ul {
		font-size: 1.6rem;
	}

	ul {
		line-height: 1.4;
	}

	&.light h3 {
		padding-bottom: 2em;
	}

	&.dark {
		ul {
			margin-bottom: 0;
		}
	}
}

.half.tile.text {
	padding: 5em;
}

.row:nth-child(4) {
	padding-top: 2.5rem;
	
	ul {
		color: $gray3;
	}
}

.row.dark.icons {
	padding-bottom: 0;
}

@media (max-width: 1231px) {
	.half.tile.dark {
		h2 {
			font-size: 3rem;
		}
	}
}

@media (max-width: 1110px) {
	.half.tile.dark {
		h2 {
			font-size: 2.7rem;
		}
	}
}

@media (max-width: 849px) {
	.two-thirds {
		padding: 0 2.5rem;
	}
}
