---
# Front matter comment to ensure Jekyll properly reads file.
---

@import "variables";

.cards {
	display: flex;
	align-items: stretch;
}

.card {
	padding-bottom: 3em;

	&.light {
		padding: 0 3em 3em;

		h3 {
			font-size: 2.8rem;
		}

		p {
			font-size: 2.2rem;
		}
	}
}

.light {
	.third {
		padding: 3em;
	}

	ul {
		font-size: 2.2rem;
		font-weight: 300;
		color: $gray3;
	}
}

li p {
	margin-top: 0;
	margin-left: -2em;
	text-indent: 0;
	padding-left: 1em;
}

.tile {
	margin-bottom: .3rem;

	h2 {
		padding-bottom: 0;
	}
	
	h3 {
		font-size: 2.2rem;
		font-weight: 400;
		margin: 0;
		padding: 0;
		padding-bottom: 0;
		display: inline;
	}

	h2 + h3 {
		font-size: 2.1rem;
		margin-bottom: 1em;
	}

	p, ul {
		font-size: 1.6rem;
		padding-bottom: 0;
	}

	ul {
		margin-top: 0;
	}

	ul, ol {
		line-height: 1.3;
	}
}

.blurb {
	padding: 3rem 5rem;
	& > div {
		padding: 0;
	}
}

.img + .text {
	ul {
		list-style-type: none;
		padding-left: 0;
	}
	h2 + h3 {
		font-size: 2.2rem;
	}
}

.cards.light {
	padding: 4em 3em;
	text-align: center;

	h2 {
		font-size: 2.4rem;
	}

	p {
		font-size: 1.8rem;
	}
}

