---
# Front matter comment to ensure Jekyll properly reads file.
---

@import "variables";

.forms-row {
  margin: 30px 0;
  align-items: flex-start;

  .two-thirds {
    padding-left: 0;
  }

  .links-row {
    height: calc(25% - 15px);
    display: flex;
    justify-content: space-between;

    .btn {
      display: block;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 2.5rem;
    }

    p {
      font-size: 16px;
      margin-top: 0;
    }

    &:not(:first-child) {
      margin-top: 2.5rem;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $gray3;
    }

    & div:first-child {
      width: 36%;
    }

    & div:last-child {
      width: 60%;
    }
  }
}

@media (min-width: 850px) {
  .row:first-child {
    margin: 5rem auto 0 auto;
    padding: 0 5rem;
  }

  .third.card {
    margin: 0 5rem;
  }
}

@media (max-width: 1135px) {
  .card.light {
    margin-left: 0;
  }
}

@media (max-width: 1090px) {
  .links-row:first-child {
    padding-top: 2.5rem;
  }
}

@media (max-width: 849px) {
  main {
    padding: 0 2.5rem;
  }
}