---
# Front matter comment to ensure Jekyll properly reads file.
---

@import "variables";

.forms-row {
  margin: 30px 0;

  .links-row {
    height: calc(25% - 15px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 15px 0;

    .btn {
      font-size: 17px;
      display: block;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }

    p {
      font-size: 16px;
      margin-top: 0;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $gray3;
    }

    & div:first-child {
      width: 35%;
    }

    & div:last-child {
      width: 60%;
    }
  }
}