---
# Front matter comment to ensure Jekyll properly reads file.
---

.forms-row {
  margin: 30px 0;

  .links-row {
    clear: both;
    margin: 15px 0;

    &:after {
      content: '';
      display: block;
      clear: both;
    }

    .btn {
      font-size: 17px;
      display: block;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }

    p {
      font-size: 16px;
      margin-top: 0;
    }

    .third {
      width: 35%;
      margin-right: 0;
    }

    .two-thirds {
      width: 55%;
      margin: 0;
    }
  }
}
