---
# Front matter comment to ensure Jekyll properly reads file.
---

$baseUrl: '{{ site.baseurl }}';

@import "variables";
@import "header";
@import "footer";
@import "hero";
@import "layout";
@import "fonts";
@import "buttons";

html, body {
  padding: 0;
  margin: 0;
  font-size: 10px;
  overflow-x: hidden;
  font-family: 'Uni Neue';
}

@media (max-width: 850px) {
  html, body {
    font-size: 8px;
  }
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

strong {
  font-weight: 500;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
}

p {
  font-size: 2.4rem; 
  color: $gray3;

  svg {
    display: inline-block;
    height: 1em;
    width: auto;
    vertical-align: middle;

    &.logo-svg {
      margin-top: 2px;
    }
  }
}

a {
  svg {
    display: inline-block;
    height: 1em;
    width: auto;
    vertical-align: middle;
  }
}

.center {
  text-align: center;
  h2 {
    margin: 0 auto;
  }
}

.container {
  max-width: $max-width; // 1280px
  margin: auto;
  background: $bodyBg;
}

.light {
  background-color: $gray1;
}

.dark {
  background-color: $gray3;
  color: $bodyBg;
  p {
    color: $bodyBg;
  }
}

.cards {
  padding: 0 30px;
}

.card {
  display: block;
  text-decoration: none;
  padding: 30px 20px;
  border-radius: 10px;
  p {
    margin: 0;
    margin-top: 15px;
    font-size: 2.2rem;
    font-weight: 300;
  }
}

@media (max-width: 1150px) {
  .tile.text {
    h2 {
      font-size: 3rem;
    }

    p {
      font-size: 2rem;
    }

    .btn {
      font-size: 2rem;
    }
  }
}

@media (max-width: 1041px) {
  .tile.text {
    h2 {
      font-size: 2.4rem;
      top: 45px;
      left: 30px;
      right: 30px;
    }

    p {
      top: 105px;
      left: 30px;
      right: 30px;
    }

    .btn {
      bottom: 30px;
      left: 30px;
    }
  }
}

@media (max-width: 950px) {
  .tile.text {
    p {
      top: 75px;
    }
  }
}

@media (max-width: 750px) {
  .tile.img {
    width: calc(100% - 30px);
    margin-right: 15px !important;
    margin-left: 15px !important;
  }

  .tile.visible-xs + .tile.text {
    margin-left: 15px;
    width: calc(50% - 15px);
  }

  .tile.text {
    width: calc(100% - 30px) !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    padding: 30px 0;

    &:before {
      display: none;
    }

    h2, p, .btn {
      position: static;
    }

    .btn {
      display: inline-block;
      margin-left: 30px;
      margin-top: 15px;
    }
  }
}
