---
# Front matter comment to ensure Jekyll properly reads file.
---

$baseUrl: '{{ site.baseurl }}';

@import "variables";
@import "header";
@import "footer";
@import "hero";
@import "layout";
@import "fonts";
@import "buttons";
@import "typography";

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  color: #000;
}

p {
  color: $gray3;

  svg {
    display: inline-block;
    height: 1em;
    width: auto;
    vertical-align: middle;

    &.logo-svg {
      margin-top: 2px;
    }
  }
}

a {
  svg {
    display: inline-block;
    height: 1em;
    width: auto;
    vertical-align: middle;
  }
}

div.visible-xs {
  display: none;
}

.container, .row {
  max-width: $max-width; // 1280px
  margin: auto;
  background: $bodyBg;
}

.light {
  background-color: $gray1;

  h2, a h2 {
    color: $gray4;
  }
}

.dark {
  background-color: $gray3;
  color: $bodyBg;

  h2, h3, p {
    color: $bodyBg;
  }
}

.cards {
  padding: 0 3rem;
  display: flex;
  align-items: stretch;
}

.card {
  display: block;
  text-decoration: none;
  padding: 30px 20px;
  border-radius: 10px;
  p {
    margin: 0;
    margin-top: 15px;
  }
}

.tile {
  &.half.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    padding: 0 6em;
  }

  h3 {
    margin: 0;
  }

  &.half.img {
    padding: 0;
    margin-bottom: -3px;
  }
}

.schedule-consultation {
  padding: 4em 0;

  h2 {
    font-size: 3.5rem;
  }

  h2:nth-of-type(2) {
    padding-bottom: .5em;
  }
}
