---
# Front matter comment to ensure Jekyll properly reads file.
---

$baseUrl: '{{ site.baseurl }}';

@import "variables";
@import "header";
@import "footer";
@import "hero";
@import "grid";
@import "fonts";
@import "buttons";

html, body {
  padding: 0;
  margin: 0;
  font-size: 10px;
  overflow-x: hidden;
  font-family: 'Uni Neue';
}

@media (max-width: 850px) {
  html, body {
    font-size: 8px;
  }
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

strong {
  font-weight: 500;
}

.center {
  text-align: center;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
}

p {
  font-size: 2.4rem; 
  color: $gray3;

  svg {
    display: inline-block;
    height: 1em;
    width: auto;
    vertical-align: middle;

    &.logo-svg {
      margin-top: 2px;
    }
  }
}

a {
  svg {
    display: inline-block;
    height: 1em;
    width: auto;
    vertical-align: middle;
  }
}

.container {
  max-width: 1600px; // 1600px
  margin: auto;
  background: $bodyBg;
}

.card {
  display: block;
  background: $gray1;
  text-decoration: none;
  padding: 30px 20px;
  border-radius: 10px;

  h2 {
    color: $gray4;
  }

  p {
    color: $gray3;
    margin: 0;
    margin-top: 15px;
    font-size: 2.2rem;
    font-weight: 300;
  }
}

.tile {
  position: relative;

  &.visible-xs + .tile.text {
    margin-left: 15px;
    width: calc(50% - 15px);
  }

  &.text {
    background: $gray3;
    padding: 0;

    &:before {
      content: '';
      position: relative;
      display: block;
      width: 100%;
      padding-bottom: 100%;
    }

    &:last-child {
      margin-right: 15px;
      width: calc(50% - 15px);
    }

    h2 {
      color: $bodyBg;
      position: absolute;
      top: 70px;
      left: 50px;
      right: 50px;
      max-width: calc(100% - 60px);
      font-weight: 600;
      font-size: 3.4rem;
      margin: auto;
    }

    p {
      color: $bodyBg;
      position: absolute;
      top: 130px;
      left: 50px;
      right: 50px;
      max-width: calc(100% - 60px);
      font-size: 2.4rem;
      margin: auto;
      margin-top: 15px;
      font-weight: 400;
    }

    .btn {
      position: absolute;
      bottom: 50px;
      left: 50px;
    }
  }

  &.img {
    padding: 0;
    width: calc(50% - 15px);

    &:first-child {
      margin-left: 15px;
    }

    &:last-child {
      margin-right: 15px;
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }

    img {
      float: left;
    }
  }
}

@media (max-width: 1150px) {
  .tile.text {
    h2 {
      font-size: 3rem;
    }

    p {
      font-size: 2rem;
    }

    .btn {
      font-size: 2rem;
    }
  }
}

@media (max-width: 1041px) {
  .tile.text {
    h2 {
      font-size: 2.4rem;
      top: 45px;
      left: 30px;
      right: 30px;
    }

    p {
      top: 105px;
      left: 30px;
      right: 30px;
    }

    .btn {
      bottom: 30px;
      left: 30px;
    }
  }
}

@media (max-width: 950px) {
  .tile.text {
    p {
      top: 75px;
    }
  }
}

@media (max-width: 750px) {
  .tile.img {
    width: calc(100% - 30px);
    margin-right: 15px !important;
    margin-left: 15px !important;
  }

  .tile.visible-xs + .tile.text {
    margin-left: 15px;
    width: calc(50% - 15px);
  }

  .tile.text {
    width: calc(100% - 30px) !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    padding: 30px 0;

    &:before {
      display: none;
    }

    h2, p, .btn {
      position: static;
    }

    .btn {
      display: inline-block;
      margin-left: 30px;
      margin-top: 15px;
    }
  }
}
