---
# Front matter comment to ensure Jekyll properly reads file.
---

$baseUrl: '{{ site.baseurl }}';

@import "variables";
@import "header";
@import "footer";
@import "hero";
@import "layout";
@import "fonts";
@import "buttons";

html, body {
  padding: 0;
  margin: 0;
  font-size: 10px;
  overflow-x: hidden;
  font-family: 'Uni Neue';
}

@media (max-width: 850px) {
  html, body {
    font-size: 8px;
  }
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

strong {
  font-weight: 500;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
}

p {
  font-size: 2.4rem; 
  color: $gray3;

  svg {
    display: inline-block;
    height: 1em;
    width: auto;
    vertical-align: middle;

    &.logo-svg {
      margin-top: 2px;
    }
  }
}

a {
  svg {
    display: inline-block;
    height: 1em;
    width: auto;
    vertical-align: middle;
  }
}

.center {
  text-align: center;
  h2 {
    margin: 0 auto;
  }
}

div.visible-xs {
  display: none;
}

.container, .row {
  max-width: $max-width; // 1280px
  margin: auto;
  background: $bodyBg;
}

.light {
  background-color: $gray1;

  h2, a h2 {
    color: $gray4;
  }
}

.dark {
  background-color: $gray3;
  color: $bodyBg;

  h2, h3, p {
    color: $bodyBg;
  }

  h2 {
    font-weight: 600;
  }
}

.cards {
  padding: 0 30px;
}

.card {
  display: block;
  text-decoration: none;
  padding: 30px 20px;
  border-radius: 10px;
  p {
    margin: 0;
    margin-top: 15px;
    font-size: 2.2rem;
    font-weight: 300;
  }
}

.tile {
  &.half.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    align-items: flex-start;
    padding: 0 6em;
  }

  &.half.img {
    padding: 0;
    margin-bottom: -3px;
  }
}