---
# Front matter comment to ensure Jekyll properly reads file.
---

.card {
  padding: 3.6rem;
}

.row {
  &.tiles:nth-child(2) {
    margin-top: 30px;
  }
}

.mc_embed_signup_home{
    background:#fff; 
    clear:left; 
    font:14px Helvetica,Arial,sans-serif; 
    width:100%;
    display: inline-flex;
}

.signup{
    display: flex;
}