---
# Front matter comment to ensure Jekyll properly reads file.
---

@import "variables";

.blurb {
	padding-bottom: 5rem !important;

	.third {
		flex-grow: 1;
		min-width: 30rem;

		&:first-child {
			flex-grow: 1.2;
			font-size: 2.2rem;
			font-weight: 400;
		}
	}

	.third:nth-child(2) {
		margin-right: 0;
	}
	
	.third:nth-child(3) {
		p {
			font-size: 1.8rem;
		}
	}
}

.blurb + .row {
	padding-bottom: 0 !important;

	.card:not(:last-of-type) {
		margin-bottom: 3em;
	}

	.card {
		text-align: center;
		padding-top: 3em;
		padding-bottom: 3em;

		p {
			font-size: 1.8rem;
		}

		h2 {
			padding-bottom: 1.5rem;
		}
	}

	.two-thirds {
		padding-bottom: 2rem !important;

		h3 {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

.spacious {
	margin-top: 0;
}

.spacious li {
	padding: 1em 0 1em 2em;
	color: $gray3;

	&:first-child {
		padding-top: 0;
	}
}
