---
# Front matter comment to ensure Jekyll properly reads file.
---

@import "variables";

.blurb {
	padding-bottom: 5rem !important;

	.third {
		flex-grow: 1;
		min-width: 30rem;

		&:first-child {
			flex-grow: 1.2;
			font-size: 2.2rem;
			font-weight: 400;
		}
	}

	.third:nth-child(2) {
		margin-right: 0;
	}
	
	.third:nth-child(3) {
		p {
			font-size: 1.8rem;
		}
	}
}

