---
# Front matter comment to ensure Jekyll properly reads file.
---

@import "variables";

h3:not(:first-child) {
    padding-top: 3rem;
}

.blurb .two-thirds {
	display: block;
}


.blurb + .row {
	padding-bottom: 0 !important;

	.card:not(:last-of-type) {
		margin-bottom: 3em;
	}

	.card {
		text-align: center;
		padding-top: 3em;
		padding-bottom: 3em;

		p {
			font-size: 1.8rem;
		}

		h2 {
			padding-bottom: 1.5rem;
		}
	}
}

.blurb + .row .two-thirds {
	padding-bottom: 50px;
}

.tiles + .blurb {
	margin-top: 50px;
}
