---
# Front matter comment to ensure Jekyll properly reads file.
---

@import "variables";

.tile {
	h2 {
		font-size: 2.7rem;
	}

	h2 + h3 {
		font-size: 2.7rem;
		font-weight: 400;
		font-style: normal;
		color: $gray4;
	}
}

@media (max-width: 1245px) and (min-width: 851px) {
	.blurb + .row .third {
		padding-left: 4rem;
	}
}

@media (min-width: 850px) {
	.blurb + .row .two-thirds {
		padding: 5rem;
		padding-top: 0;
	}
	.cards + .row {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

@media (max-width: 850px) {
	.blurb + .row {
		padding-left: 3rem;
		padding-right: 3rem;

		.two-thirds {
			padding-top: 1.5rem;
		}
	}
}

@media (max-width: 750px) {
	.third .card.dark {
		margin: 3em;

		&:first-child {
			margin-top: -3em;
		}
	}
}

@media (min-width: 400px) {
	.btn {
		white-space: nowrap;
	}
}

@media (max-width: 399px) {
	.btn {
		display: block;
	}
}
