---
# Front matter comment to ensure Jekyll properly reads file.
---

@import "variables";


@media (min-width: 850px) {
	.blurb + .row .two-thirds {
		padding: 5rem;
		padding-top: 0;
	}
	.cards + .row {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

@media (max-width: 850px) {
	.blurb + .row {
		padding-left: 3rem;
		padding-right: 3rem;

		.two-thirds {
			padding-top: 1.5rem;
		}
	}
}

@media (max-width: 750px) {
	.third .card.dark {
		margin: 3em;

		&:first-child {
			margin-top: -3em;
		}
	}
}

@media (min-width: 400px) {
	.btn {
		white-space: nowrap;
	}
}

@media (max-width: 399px) {
	.btn {
		display: block;
	}
}
