---
# Front matter comment to ensure Jekyll properly reads file.
---

@import "variables";

.two-thirds {
    margin-left:20px;
    margin-right:20px;
}

.bottom {
    padding-top:30px;
}

.two-third.bottom {
    h3 {
    padding-top: 200px;
    }
}

.video + .row {
	padding-bottom: 0 !important;

	.card:not(:last-of-type) {
		margin-bottom: 3em;
	}

	.card {
		text-align: center;
		padding-top: 3em;
		padding-bottom: 3em;

		p {
			font-size: 1.8rem;
		}

		h2 {
			padding-bottom: 1.5rem;
		}
	}
}/* Scss Document */

.video + .row .two-thirds {
	padding-bottom: 50px;
}


.cards {
	display: flex;
	align-items: stretch;
}

.card {
	padding-bottom: 3em;

	&.light {
		padding: 0 3em 3em;

		h3 {
			font-size: 2.8rem;
			margin-bottom: 1rem;
			padding-bottom: 0 !important;
		}

		p {
			font-size: 2.2rem;
		}
	}
}

.light {
	&.cards.light {
		margin-bottom: 0;
		padding-top: 5rem;
		padding-bottom: 5rem;
	}

	& + .row {
		&.row:not(.tiles) {
			padding-top: 4rem;
			padding-bottom: 4rem;	
		}

		p {
			padding-top: 0;
		}
	}

	.third {
		padding: 3em;

		&.card.dark {
			h2 {
				padding-bottom: 1rem;
			}
		}
	}

	ul {
		font-size: 2.2rem;
		font-weight: 300;
		color: $gray3;
	}
}

li p {
	margin-top: 0;
	margin-left: -2em;
	text-indent: 0;
	padding-left: 1em;
}

.tile {
	margin-bottom: .3rem;

	h2 {
		padding-bottom: 0;
	}
	
	h3 {
		font-size: 2.2rem;
		font-weight: 400;
		margin: 0;
		padding: 0;
		padding-bottom: 0;
		display: inline;
	}

	h2 + h3 {
		font-size: 2.1rem;
		margin-bottom: 1em;
	}

	p, ul {
		font-size: 1.6rem;
		padding-bottom: 0;
	}

	ul {
		margin-top: 0;
	}

	ul, ol {
		line-height: 1.3;
	}
}

.blurb {
	padding: 3rem 5rem;
	
	& > div {
		padding: 0;
	}
    
        row.light{
            padding-bottom: 0;
    }
}

.img + .text {
	ul {
		font-weight: 400;
		list-style-type: none;
		padding-left: 0;
	}

	h2 + h3 {
		font-size: 2.2rem;
	}
}

.cards.light {
	padding: 4.5rem;
	text-align: center;

	h2 {
		font-size: 2.4rem;
	}

	p {
		font-size: 1.8rem;
	}
}

@media (min-width: 850px) {
	.row.light {
		padding-left: 5rem;
		padding-right: 5rem;
	}

	.light.cards .dark:nth-child(2) {
		margin-left: 4.5rem;
		margin-right: 4.5rem;
	}
}

@media (max-width: 1150px) {
	.tiles .tile.text {
		h2 {
			font-size: 2.5rem;
		}

		h3, h2 + h3 {
			font-size: 2rem;
		}

		li {
			h3 {
				font-size: 1.8rem;
			}

			p {
				margin-bottom: 1rem;
			}
		}

		ol {
			margin: 0;
		}
	}
}

@media (max-width: 1080px) {
	.row:first-child {
		margin-bottom: 0 !important;
		padding-bottom: 0 !important;
	}
}

@media (max-width: 600px) {
	.tile {
		h3:nth-child(2) {
			margin-bottom: 0;
		}

		ol {
			margin-top: 0;
			list-style-position: outside;
		}

		li h3 {
			font-size: 2rem;
			padding-bottom: 1rem !important;
		}

		ul li {
			padding-bottom: 1rem;
		}
	}

	.row > p {
		padding: 5rem 3rem;
		padding-bottom: 0rem;
	}
}
