---
# Front matter comment to ensure Jekyll properly reads file.
---

@media (min-width: 850px) {
  .blurb {
    .third {
      margin-right: 5rem;
    }
  }
}

@media (max-width: 849px) {
  .two-thirds {
    padding: 0 2.5rem;
  }
}
