---
# Front matter comment to ensure Jekyll properly reads file.
---

@import "variables";

.blurb {
	.third:nth-child(3) {
		p {
			font-size: 1.8rem;
		}
	}
}

.blurb + .row {
	padding: 5em 0;

	.card:not(:last-of-type) {
		margin-bottom: 3em;
	}

	.card {
		text-align: center;
		padding-top: 4em;
		padding-bottom: 4em;

		p {
			font-size: 1.8rem;
			padding-top: .4em;
		}
	}

	.two-thirds {
		padding: 0 3em;

		h3 {
			margin-top: 0;
		}
	}
}

.spacious li {
	padding: 1em 0 1em 2em;
	color: $gray3;
}

.tile {
	h2 {
		font-size: 2.7rem;
	}

	h2 + h3 {
		font-size: 2.7rem;
		font-weight: 400;
		font-style: normal;
		color: $gray4;
	}
}

@media (max-width: 750px) {
	.third .card.dark {
		margin: 3em;

		&:first-child {
			margin-top: -3em;
		}
	}
}
