---
# Front matter comment to ensure Jekyll properly reads file.
---

@import "variables";

.blurb {
	.third:nth-child(3) {
		p {
			font-size: 1.8rem;
		}
	}
}

.blurb + .row {
	padding: 5em 0;

	.card:not(:last-of-type) {
		margin-bottom: 3em;
	}

	.card {
		text-align: center;
		padding-top: 3em;
		padding-bottom: 3em;

		p {
			font-size: 1.8rem;
		}

		h2 {
			padding-bottom: 1.5rem;
		}
	}

	.two-thirds {
		padding: 0 3em;

		h3 {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

.spacious {
	margin-top: 0;
}

.spacious li {
	padding: 1em 0 1em 2em;
	color: $gray3;

	&:first-child {
		padding-top: 0;
	}
}

.tile {
	h2 {
		font-size: 2.7rem;
	}

	h2 + h3 {
		font-size: 2.7rem;
		font-weight: 400;
		font-style: normal;
		color: $gray4;
	}
}

@media (min-width: 850px) {
	.blurb + .row .two-thirds {
		padding: 5rem;
		padding-top: 0;
	}
}

@media (max-width: 750px) {
	.third .card.dark {
		margin: 3em;

		&:first-child {
			margin-top: -3em;
		}
	}
}
