---
# Front matter comment to ensure Jekyll properly reads file.
---

.blurb {
  margin: 3em 0;
}

.tile.fourth .overlay {
  span {
    max-width: 10em;
  }
}

h3:not(:first-child) {
  padding-top: 3rem;
}

@media (max-width: 849px) {
  .two-thirds {
    padding: 0 2.5rem;
  }
}

@media (min-width: 1080px) {
  .blurb + .row .two-thirds {
    padding: 0 5rem 4rem 5rem;
  }
}
