---
# Front matter comment to ensure Jekyll properly reads file.
---

.blurb {
  margin: 3em 0;
}

.tile.fourth .overlay {
  span {
    max-width: 10em;
  }
}

@media (max-width: 849px) {
  .two-thirds {
    padding: 0 2.5rem;
  }
}
