title: gerstenberg.clinic
email: (409) 210-3336
description: ""
baseurl: "/gerstenberg.beta"
url: "http://gerstenberg.clinic"
sass:
    style: compressed
plugins:
  - jekyll-redirect-from
exclude:
  - Gemfile
  - Gemfile.lock
  - CNAME
  - .gitignore
