---
layout: default
permalink: /about
hero: /img/heros/hero-gclinic-about.jpg
tagline: "Providing the care you need in two different ways:"
stylesheet: about
---

<div class="row about-row">
  <div class="half">
    <div class="card light">
      {% include svgs/logo.html %}
    </div>
    <p>
      {% include svgs/logo.html %} offers primary care for all ages. This includes non-immunization newborn, infant and child checkups as well as school physicals, well-women exams and annual wellness visits for Medicare enrollees. We are not currently accepting any new pediatric patients under the age of 4 yrs. 
    </p>
    <p>
      We believe in treating the person as a whole. Health is impacted by many different factors, including; vitamin and nutrient deficiency, hormone imbalance, diet choices, physical exercise, and spiritual/emotional factors. 
    </p>
    <p>
      Because of this, {% include svgs/logo.html %} seeks out new and innovative solutions that target healing exactly where the patient needs it – and avoids the side effects of unnecessary treatment. 
    </p>
    <p>
      We join Hippocrates in saying, “the greatest medicine of all is teaching people not to need it.”
    </p>
  </div>
  <div class="half">
    <div class="card light">
      {% include svgs/gc-wellness.html %}
    </div>
    <p>
      We provide cutting-edge products and services through {% include svgs/gc-wellness-inline.html %}, including: <strong>vitamins, homeopathic remedies, human-identical hormone therapy, medical weight management options, aesthetic treatments, male ED treatments and more</strong>. Look around our clinic and website for materials that detail this line as we are consistently seeking out diversification to offer the very best NON-drug treatments for our patients and community.
    </p>
    <p>
      Services offered through {% include svgs/gc-wellness-abbreviated.html %} are considered cash-pay services and claims are not filed with insurance carriers since these services are not covered by insurance. Some flexible spending accounts (FSA) or health savings accounts (HSA) may reimburse for them and we gladly accept cash, check, credit card and <a href="{{ site.baseurl }}/care">CareCredit</a> for these services.
    </p>
  </div>
</div>
<div class="row tiles">
  <div class="half tile img">
    <img src="{{ site.baseurl }}/img/lrg-squares/lrg-squares-g.jpg" />
  </div>
  <div class="half tile text light">
    <div class="wrapper">
      <h2>K. Paul Gerstenberg, D.O.</h2>
      <p>
        <strong>Education:</strong><br>
        Medical School: University North Texas - TCOM<br>
        Residency: St. Anthony Hospital, Oklahoma City, OK<br>
        Internship: Osteopathic Medical - FT. Worth, TX<br><br><br>
        <strong>Professional Certifications:</strong><br>
        Board Certified, Family Medicine<br>
        Certified BioTE provider<br>
        Certified in Age Management Medicine (AMM)<br>
        Fellow, AMM with Cenegenics
      </p>
    </div>

    <hr>
    <div class="overlay">
      <p>
        Dr. Gerstenberg received his premedical degree from Lamar University in his hometown Beaumont, TX. He then went on to the University of North Texas Health Sciences Center at Fort Worth to receive his Doctor of Osteopathy degree in 1993. He served his residency at St. Anthony Hospital in Oklahoma City, then went to serve three years in the United States Air Force at Barksdale AFB, Louisiana. After completing his tour of duty, he stayed in Shreveport, Louisiana for two years in private practice. In 2001, he had the opportunity to relocate his wife and five children to Nederland, Texas and build his own practice. Today he has seven children and two grandchildren. 
      </p>
      <p>
        The clinic Dr. Gerstenberg envisioned practices the full realm of family practice, from newborn care to senior care. He has a great interest in preventative medicine, including osteopathic manipulation when needed, and enjoys working with pediatric and adolescent concerns. He offers traditional medical care, but loves to provide nutritional and alternative approaches when his patients are interested, specifically through gerstenberg.clinic WELLNESS.
      </p>
      <p>
        Dr. Gerstenberg serves as the local health authority for Port Neches addressing Zika virus updates, influenza trends and other public health issues that affect our community. Since 1998 he has also been a Clinical Assistant Professor at the University of North Texas Health Sciences Center at Fort Worth-Texas College of Osteopathic Medicine.
      </p>
    </div>
  </div>
</div>
<div class="row tiles">
  <div class="half tile img">
    <img src="{{ site.baseurl }}/img/lrg-squares/lrg-squares-brandi.jpg" />
  </div>

  <div class="half tile text light">
    <div class="wrapper">
      <h2>Brandi Wright, MSN, APRN, FNP&#8209;C</h2>
      <p>
        <strong>Education:</strong><br>
        Bachelor of Science in Nursing: <br>
        &nbsp;&nbsp;&nbsp;Lamar University- Beaumont, TX<br>
        Master of Science in Nursing<br>
        &nbsp;&nbsp;&nbsp;UTMB - Galveston, TX<br>
        Licensure: Advanced Practice Registered Nurse- <br>
        &nbsp;&nbsp;&nbsp;TX BON<br><br><br>
        <strong>Professional Certifications:</strong><br>
        Certified Family Nurse Practitioner<br>
        Certified BioTE provider<br>
        Certified Laser Safety Officer & Aesthetic Provider
      </p>
    </div>

    <hr>
    <div class="overlay">
      <p>
        Brandi obtained a Bachelor of Science in Nursing and a Master of Science in Nursing from the Family Nurse Practitioner Program of the University of Texas Medical Branch, Galveston. She is certified by the American Academy of Nurse Practitioners National Certification Program, and licensed by the state of Texas to provide family-centered healthcare to patients of all ages. 
      </p>
      <p>
        In addition to her academic credentials, Brandi has extensive clinical experience. She began her career in health care by working on the pediatric floor of Christus St. Mary hospital in Port Arthur when she was only 18 years old. Since that time, she has gained experience in critical care/ICU, emergency room, cardiac care, pediatrics, neurology, oncology, and orthopedics. 
      </p>
      <p>
        Her scope of practice encompasses health promotion, disease prevention, diagnosis and management of common and complex health care problems from childhood to seniority. 
      </p>
      <p>
        Brandi has a strong core of bedside nursing, along with advanced assessment and critical thinking skills, which help her comprehensively evaluate every patient by taking time to listen and understand their particular needs. Her desire is to create a positive healing experience and give confidence to those in need as she builds long-lasting relationships with her patients.
      </p>
    </div>
  </div>
</div>

<div class="row tiles">
  <div class="half tile img">
    <img src="{{ site.baseurl }}/img/lrg-squares/lrg-squares-niki.jpg" />
  </div>
  <div class="half tile text light">
    <div class="wrapper">
      <h2>Renee “Niki” Broussard, MSN, APRN, FNP-C</h2>
      <p>
        <strong>Education:</strong><br>
        Bachelor of Science in Nursing<br>
        Lamar University- Beaumont, Texas<br>
        Masters of Science in Nursing<br>
        UTMB-Galveston, Texas<br>
        Licensure- Advanced Practice Registered Nurse -TX BON<br><br><br>
        <strong>Professional Certifications:</strong><br>
        Certified Family Nurse Practitioner<br>
        Certified BioTE provider<br>
      </p>
    </div>

    <hr>
    <div class="overlay">
      <p>
        Niki provides holistic care by utilizing her advanced practice nursing skills to prioritize the health and wellness of every patient. She is certified by the American Academy of Nurse Practitioners and licensed by the state of Texas to provide holistic care to patients of all ages.
      </p>
      <p>
        She uses evidence-based practice to guide clinical decision making when treating patients. Using comprehensive critical assessment of patients, she is able to formulate a plan of care that is in the patient’s best interest. She always takes the time to listen to and understand the patient’s needs.
      </p>
      <p>
        She has experience as an RN in progressive telemetry, and in the Mother-Baby unit with labor and delivery at Baptist Hospital in Beaumont.
      </p>
      <p>
        Niki is married and has one daughter and enjoys spending time with her family.
      </p>
    </div>
  </div>
</div>

<div class="row tiles">
  <div class="half tile img">
    <img src="{{ site.baseurl }}/img/lrg-squares/lrg-squares-jen.jpg" />
  </div>
  <div class="half tile text light">
    <div class="wrapper">
      <h2>Jennifer B. Gibson, MS, PA-C</h2>
      <p>
        <strong>Education:</strong><br>
        Bachelor of Science in Biology, Minor in Chemistry:<br>
        Valedictorian of the College of Science,<br>
        John Brown University- Siloam Springs, AR<br>
        Master of Science in Allied Health/Physician Assistant:<br>
        Baylor College of Medicine- Houston, TX<br>
        Licensure: Physician Assistant-Certified - TX Medical Board <br><br><br>
        <strong>Professional Certifications:</strong><br>
        Certified Physician Assistant<br>
        Certified BioTE provider<br>
      </p>
    </div>

    <hr>
    <div class="overlay">
      <p>
        Jennifer graduated from Baylor College of Medicine in Houston, TX, where she trained in
        Pediatrics, Internal Medicine, Emergency Medicine, Obstetrics and Gynecology, Surgery,
        Psychiatry, Geriatrics, and Community Medicine. She also served on the PA Admissions
        Committee while attending Baylor College of Medicine. She is certified by the National
        Commission On Certification of Physician Assistants, and licensed by the state of Texas to
        practice medicine for all ages.
      </p>
      <p>
        Her clinical experience includes Urgent Care, Pediatrics, and Family Medicine.
      </p>
      <p>
        She moved here with her husband in 2001 where they have been raising their 4 children. Through the years, Jennifer has also taught High School Sciences at various local homeschool co-ops. Subjects included Anatomy and Physiology as well as Biology, Chemistry, and Physics. Her love for teaching carries over into educating her patients in healthy lifestyles as she uses a holistic approach to medicine. Prevention is a key component to health care as well as using all available resources to bring healing. Her goal is to continue this journey with her patients through the years.
      </p>
    </div>
  </div>
</div>

<iframe height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJJVfONz2xPoYRn7S58dVOkjw&key=AIzaSyC71173RsAJ6UxaKsV8q7SpMwC4x3Ir1WM" allowfullscreen></iframe>
<div class="row img">
  <img src="{{ site.baseurl }}/img/heros/hero-gclinic-building.jpg" />
</div>
<script>
  $(function() {
    $('.tile.text').on('click', function(e) {
      if ($(window).width() > 1092) return false;

      e.preventDefault();
      $(this).find('.overlay').show();
      return false;
    });

    $('.tile.text .overlay').on('click', function(e) {
      if ($(window).width() > 1092) return false;

      e.preventDefault();
      $(this).hide();
      return false;
    });
  });
</script>
