---
layout: default
permalink: /about
hero: /img/heros/hero-gclinic-building.jpg
tagline: "Providing the care you need in two different ways:"
stylesheet: about
---

<div class="row about-row">
  <div class="half">
    <div class="card light">
      {% include svgs/logo.html %}
    </div>
    <p>
      {% include svgs/logo.html %} offers primary care for all ages. This includes non-immunization newborn, infant and child checkups as well as school physicals, well-women exams and annual wellness visits for Medicare enrollees. 
    </p>
    <p>
      We believe in treating the person as a whole. Health is impacted by many different factors, including; vitamin and nutrient deficiency, hormone imbalance, diet choices, physical exercise, and spiritual/emotional factors. 
    </p>
    <p>
      Because of this, {% include svgs/logo.html %} seeks out new and innovative solutions that target healing exactly where the patient needs it – and avoids the side effects of unnecessary treatment. 
    </p>
    <p>
      We join Hippocrates in saying, “the greatest medicine of all is teaching people not to need it.”
    </p>
  </div>
  <div class="half">
    <div class="card light">
      {% include svgs/gc-wellness.html %}
    </div>
    <p>
      We provide cutting-edge products and services through {% include svgs/gc-wellness-inline.html %}, including: <strong>vitamins, homeopathic remedies, human-identical hormone therapy, medical weight management options, aesthetic treatments, male ED treatments and more</strong>. Look around our clinic and website for materials that detail this line as we are consistently seeking out diversification to offer the very best NON-drug treatments for our patients and community.
    </p>
    <p>
      Services offered through {% include svgs/gc-wellness-abbreviated.html %} are considered cash-pay services and claims are not filed with insurance carriers since these services are not covered by insurance. Some flexible spending accounts (FSA) or health savings accounts (HSA) may reimburse for them and we gladly accept cash, check, credit card and CareCredit for these services.
    </p>
  </div>
</div>
<div class="row tiles">
  <div class="half tile img">
    <img src="{{ site.baseurl }}/img/lrg-squares/lrg-squares-g.jpg" />
  </div>
  <div class="half tile text">
    <h2>K. Paul Gerstenberg, D.O.</h2>
    <p>
      <strong>Education:</strong><br>
      Medical School: University North Texas - TCOM<br>
      Residency: St. Anthony Hospital, Oklahoma City, OK<br>
      Internship: Osteopathic Medical - FT. Worth, TX<br><br><br>
      <strong>Specialties:</strong>
      Board Certified in Family Medicine<br>
      Certified BioTE provider<br>
      Certified in Age Management Medicine (AMM)<br>
      Fellow, AMM with Cenegenics
    </p>

    <div class="overlay">
      <p>
        K. Paul Gerstenberg, D.O. received his premedical degree from Lamar University in his hometown Beaumont, TX. He then went on to the University of North Texas Health Sciences Center at Fort Worth to receive his Doctor of Osteopathy degree in 1993. He served his residency at St. Anthony Hospital in Oklahoma City, then went to serve three years in the United States Air Force at Barksdale AFB, Louisiana. After completing his tour of duty, he stayed in Shreveport, Louisiana for two years in private practice. In 2001, he had the opportunity to relocate his wife and five children to Nederland, Texas. 
      </p>
      <p>
        Dr. Gerstenberg practices the full realm of family practice, from newborn care to senior care. He has a great interest in preventative medicine, including osteopathic manipulation when needed, and enjoys working with pediatric and adolescent concerns. He offers traditional medical care, but loves to provide nutritional and alternative approaches when his patients are interested, specifically through gerstenberg.clinic WELLNESS.
      </p>
      <p>
        Dr. Gerstenberg serves as Port Neches, Texas’ local health authority. He was approached in 2015 to step into this role and stays apprised of current medical and public health concerns, such as Zika virus updates, influenza trends and public health issues that may affect our community.
      </p>
    </div>
  </div>
</div>
<div class="row tiles">
  <div class="half tile img">
    <img src="{{ site.baseurl }}/img/lrg-squares/lrg-squares-brandi.jpg" />
  </div>
  <div class="half tile text">
    <h2>Brandi Wright, MSN, APRN, FNP-C</h2>
    <p>
      <strong>Education:</strong><br>
      Bachelor of Science in Nursing: <br>
      &nbsp;&nbsp;&nbsp;Lamar University- Beaumont, TX<br>
      Master of Science in Nursing: University of Texas<br>
      &nbsp;&nbsp;&nbsp;Medical Branch- Galveston, TX<br>
      Licensure: Advanced Practice Registered Nurse- <br>
      &nbsp;&nbsp;&nbsp;TX BON<br><br><br>
      <strong>Specialties:</strong><br>
      Certified Family Nurse Practitioner<br>
      Certified BioTE provider
    </p>

    <div class="overlay">
      <p>
        Brandi obtained a Bachelors of Science in Nursing and a Master of Science in Nursing from the Family Nurse Practitioner Program of the University of Texas Medical Branch, Galveston. She is certified by the American Academy of Nurse Practitioners National Certification Program, and licensed by the state of Texas to provide family-centered healthcare to patients of all ages. 
      </p>
      <p>
        In addition to her academic credentials, Brandi has extensive clinical experience. She began her career in health care by working on the pediatric floor of Christus St. Mary hospital in Port Arthur when she was only 18 years old. Since that time, she has gained experience in critical care/ICU, emergency room, cardiac care, pediatrics, neurology, oncology, and orthopedics. 
      </p>
      <p>
        Her scope of practice encompasses health promotion, disease prevention, diagnosis and management of common and complex health care problems from childhood to seniority. 
      </p>
      <p>
        Brandi has a strong core of bedside nursing, along with advanced assessment and critical thinking skills, which help her comprehensively evaluate every patient by taking time to listen and understand their particular needs. Her desire is to create a positive healing experience and give confidence to those in need as she builds long-lasting relationships with her patients.
      </p>
    </div>
  </div>
</div>
<iframe height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJJVfONz2xPoYRn7S58dVOkjw&key=AIzaSyC71173RsAJ6UxaKsV8q7SpMwC4x3Ir1WM" allowfullscreen></iframe>
<script>
  $(function() {
    $('.tile.text').on('click', function(e) {
      if ($(window).width() > 1092) return false;

      e.preventDefault();
      $(this).find('.overlay').show();
      return false;
    });

    $('.tile.text .overlay').on('click', function(e) {
      if ($(window).width() > 1092) return false;

      e.preventDefault();
      $(this).hide();
      return false;
    });
  });
</script>
