---
layout: default
permalink: /articles
hero: /img/heros/hero-gclinic-vampire.jpg
keywords: 
Description: "Find the gerstenberg.clinic Health & Wellness email articles archived here "
stylesheet: aesthetics
redirect_from:
---

<div style="width = 80%">
<script language="javascript" src="//clinic.us18.list-manage.com/generate-js/?u=3bdf416b29288fcc89abfd51c&fid=6406&show=10" type="text/javascript"></script>
</div>


<div class="row cards">
  <div class="third card light">
    <h2>Primary Care</h2>
    <p>Our clinic performs periodic physical exams such a school physicals, well women exams and annual wellness visits for Medicare enrollees. We provide non-immunization newborn, infant and child checkups as well as much more at {% include svgs/logo.html %}.</p>
  </div>
  <div class="third card light">
    <h2>Cutting-Edge Services</h2>
    <p>{% include svgs/logo.html %} is always looking to stay aware of current medical standards and breakthroughs as we pioneer the future. You will find many options here that are not available anywhere else in the area. </p>
  </div>
  <div class="third card light">
    <h2>Natural Options</h2>
    <p>You always have the right to be responsible for your medical care. We offer a variety of supplements since there are almost always non-drug treatment options. We want to be your advocate as we partner with you in your healthcare.</p>
  </div>
</div>