---
layout: default
permalink: /forms
hero: /img/heros/hero-gclinic-forms.jpg
tagline: 
stylesheet: forms
---

<div class="row video">
	<iframe class="assetIframe" style="border:0" 
			src="https://www.youtube.com/embed/VqMHMwrNPvg" allowfullscreen></iframe> 
    <p style="text-align:center">At our discretion, we may stop accepting primary care patients at any time.</p>
    <p>Please call the office at 409.210.3336 to confirm that we are accepting new patients, or type "new patient" in our Facebook chatbot (in the lower right corner of our homepage).</p>
</div>

<div class="row forms-row">
  <div class="third card light">
    <h2>Clinic Forms</h2>
    <p>Completed forms can be sent to {% include svgs/logo.html %} via </p>
    <ul>
      <li> <b>Delivery</b> - 2645 Nall St</li>
      <li> <b>Fax</b> - 409.527.3969</li>
      <li> <b>Email</b> - <a href="mailto:clinic@gerstenbergclinic.com?Subject=Patient%20Forms" target="_top">clinic@gerstenbergclinic.com</a></li>
    </ul>
    <p>Please send along a copy of the <b>front and back of your insurance card</b></p>
    <ul>
        <li> It takes <b>4-7 business days</b> for us to process your packet.</li>
        <li>Once processed, <b>we will call</b> to schedule your new patient appointment.</li>
    </ul>
  </div>
  <div class="two-thirds">
       <div class="links-row">
      <div>
        <a href="https://form.jotform.com/222806516737056" target="_blank" class="btn">Digital Primary Care Adult New Patient [beta]</a>
        <a href="{{ site.baseurl }}/pdf/adult.pdf" target="_blank" class="btn">Primary Care Adult New Patient PDF</a>
     </div>
      <div>
        <p>
          All new primary care patients must fill out paperwork and submit it before scheduling an appointment. This form is for those 18+. Note the digital form is in beta testing, so please give us feedback on any difficulties.
        </p>
      </div>
    </div>
      
    <div class="links-row">
      <div>
        <a href="https://form.jotform.com/240127511769153" target="_blank" class="btn">Primary Care Child New Patient Digital [beta]</a>
          <a href="{{ site.baseurl }}/pdf/pedi.pdf" target="_blank" class="btn">Primary Care Child New Patient PDF</a>
      </div>
      <div>
        <p>
          Minors may become a patient if their guardian is a patient.
        </p>
      </div>
    </div>
    <div class="links-row">
      <div>
        <a href="https://form.jotform.com/240126861766157" target="_blank" class="btn">Update Packet Digital [beta]</a>
          <a href="{{ site.baseurl }}/pdf/update.pdf" target="_blank" class="btn">Update Packet PDF</a>
      </div>
      <div>
        <p>
          If you haven’t been seen within the current calendar year, save time by filling the update packet out ahead of time.
        </p>
      </div>
    </div>
    
    <div class="links-row">
      <div>
        <a href="{{ site.baseurl }}/pdf/wellness.pdf" target="_blank" class="btn">{% include svgs/gc-wellness-abbreviated.html %} New Patient</a>
      </div>
      <div>
        <p>
          For those interested in cash-pay wellness services, but not already primary-care patients. You don’t need an insurance card. This includes: BioTE, DermaSweep, and E.D. Treatments.
        </p>
      </div>
      </div> 
      
    <div class="links-row">
      <div>
        <a href="{{ site.baseurl }}/pdf/reflife.pdf" target="_blank" class="btn">Reforming Life New Patient</a>
      </div>
      <div>
        <p>
          Please fill these papers out before coming for a ReformingLife consult. This will help us get you in and out of the office quickly.
        </p>
      </div>
      </div> 
      
    <div class="links-row">
        <div>
          <a href="{{ site.baseurl }}/pdf/NPP.pdf" target="_blank" class="btn">Notice of Privacy Practices</a>
        </div>
      <div>
        <p>
          Our practice is dedicated to maintaining the privacy of your individually identifiable health information (PHI). Our Notice of Privacy Practices outlines how and when your information will be disclosed.
        </p>
       </div> 
    </div>
    
    <div class="links-row">
        <div>
          <a href="https://form.jotform.com/240145495653156" target="_blank" class="btn">Medical Records Consent Digital [beta]</a>
            <a href="{{ site.baseurl }}/pdf/records.pdf" target="_blank" class="btn">Medical Records Consent PDF</a>
        </div>
      <div>
        <p>
          Use this form when seeking to transfer records from another fascility or doctor.
        </p>
       </div> 
    </div>  
    <div class="links-row">
        <div>
          <a href="{{ site.baseurl }}/pdf/HS_patient_packet.pdf" target="_blank" class="btn">HeartSmart PDF</a>
         <a href="https://form.jotform.com/222274403298052" target="_blank" class="btn">HeartSmart Digital Form</a>      
        </div>
      <div>
        <p>
          Please complete this paperwork before your HeartSmart cardiovascular exam.
        </p>
      </div>  
    </div>  
    <div class="links-row">
  </div>
</div>
