---
layout: default
permalink: /pay
hero: /img/heros/hero-gclinic-pay.jpg
tagline: 
stylesheet: home
---

<div class="row cards">
  <div class="third card light">
    <h2>Regular Credit Card</h2>
    <div>
      <a target="_blank" href="https://quickclick.com/r/kq8ue" class="btn">Pay Here</a>
    </div>
      <div>
          <p>{% include svgs/logo.html %} accepts Amex, MasterCard, Discover and Visa.</p>
      </div>      
  </div>
  <div class="third card light">
    <h2>Care Credit</h2>
    <div>
        <a href="https://www.carecredit.com/Pay/QGB963/B3CPLAdToolkitPMPCard/
        "><img width="275" style="max-width:100%;" src="https://www.carecredit.com/adtoolkit/assets/pages/library/buttons/PMP_Buttons/280x100/CareCredit_Button_PMP_280x100_a_v1.png"/></a>  
    </div>
    <div>
    <p>If you already have Care Credit card, you can use it to pay any of your bills at {% include svgs/logo.html %}. If you don't have one, <a target="_blank" href="services/care.html">you can learn more here</a>.</p>
    </div>  
  </div>
</div>