---
layout: default
permalink: /pay
hero: /img/heros/hero-gclinic-pay.jpf
tagline: Please use the correct button. CareCredit must be processed through CareCredit's site.
stylesheet: home
---

<div class="row cards">
  <div class="third card light">
    <div>
      <a target="_blank" href="https://quickclick.com/r/kq8ue" class="btn">Pay With a Regular Credit Card Here</a>
    </div>
    <div style="margin-top: 30px">
      <p>{% include svgs/logo.html %} accepts Amex, MasterCard, Discover and Visa.</p>
    </div>      
  </div>
  <div class="third card light">
    <div>
        <a target="_blank" href="https://www.carecredit.com/Pay/QGB963/B3CPLAdToolkitPMPCard/
        "><img width="275" style="max-width:100%;" src="https://www.carecredit.com/adtoolkit/assets/pages/library/buttons/PMP_Buttons/280x100/CareCredit_Button_PMP_280x100_a_v1.png"/></a>  
    </div>
    <div style="margin-top: 20px">
    <p>If you already have CareCredit card, you can use it to pay any of your bills at {% include svgs/logo.html %}. If you don't have one, <a target="_blank" href="services/care.html">you can learn more here</a>.</p>
    </div>  
  </div>
</div>