---
layout: default
permalink: /instructions/review
hero: 
tagline: Go to <a href="bit.ly/gclinicgreview2">bit.ly/gclinicgreview2</a> to leave us a Google review!
keywords: "Gerstenberg, Gertenberg, Gersteberg, Gerstenburg, Gurstenburg, Gutenberg, Gutenburg, Gurtenberg, Gurtenburg, Paul, Doctor, Dr,wellness,"
description: 
stylesheet: weight-loss
redirect_from: /review
---

<div class="row about-row">
  <div class="half">
    <div class="card light">
      On Your Phone
    </div>
    <p> After you click the link, your phone should redirect to this screen, of our Google My Business listing.
    </p>
    <img href="img/"
  </div>
  <div class="half">
    <div class="card light">
      {% include svgs/gc-wellness.html %}
    </div>
    <p>
      We provide cutting-edge products and services through {% include svgs/gc-wellness-inline.html %}, including: <strong>vitamins, homeopathic remedies, human-identical hormone therapy, medical weight management options, aesthetic treatments, male ED treatments and more</strong>. Look around our clinic and website for materials that detail this line as we are consistently seeking out diversification to offer the very best NON-drug treatments for our patients and community.
    </p>
    <p>
      Services offered through {% include svgs/gc-wellness-abbreviated.html %} are considered cash-pay services and claims are not filed with insurance carriers since these services are not covered by insurance. Some flexible spending accounts (FSA) or health savings accounts (HSA) may reimburse for them and we gladly accept cash, check, credit card and <a href="{{ site.baseurl }}/care">CareCredit</a> for these services.
    </p>
  </div>
</div>


<div class="row cards">
	<div class="third card dark">
		<p>Naturally remove stubborn abnormal fat from your body</p>
	</div>
	<div class="third card dark">
		<p>Reset your hypothalamus to keep you at a normal weight</p>
	</div>
	<div class="third card dark">
		<p>Learn to eat correctly to maintain a healthy weight for life</p>
	</div>
</div>