<footer>
  <div class="row">
    <div class="third">
      <p>
        Phone • 409.210.3336
      </p>
      <p>
        Fax • 409.527.3969
      </p>
      <p>
        2645 Nall Street • Port Neches, TX • 77651
      </p>
      <p>
        &copy; 2014-<script>document.write(new Date().getFullYear())</script> {% include svgs/logo.html %}
      </p>
    </div>
    <div class="third">
      <a href="{{ site.baseurl }}/care">
        <img src="{{ site.baseurl }}/img/cc.svg" alt="Learn more about special financing!">
      </a>
    </div>
    <div class="third">
      <ul class="footer-nav">
        <li><b><a href="{{ site.baseurl }}/about">About</a></b></li>
        <li><b><a href="{{ site.baseurl }}/forms">Forms</a></b></li>
        <li>
          <ul>
            <li><b>Services &amp; Education</b></li>
            <li><a href="{{ site.baseurl }}/services/education">General Education</a></li>
            <li><a href="{{ site.baseurl }}/services/evox">Evox Brain Mapping</a></li>
            <li><a href="{{ site.baseurl }}/services/knee">Knee Pain Treatment</a></li>
            <li><a href="{{ site.baseurl }}/services/seca">Seca Body Composition</a></li>
            <li><a href="{{ site.baseurl }}/services/lower-extremity-treatment">Lower Extremity Treatment</a></li>
            <li><a href="{{ site.baseurl }}/services/education">HeartSmart</a></li>
            <li><a href="{{ site.baseurl }}/services/o-shot">O-Shot - Female Sexual Wellness</a></li>
            <li><a href="{{ site.baseurl }}/services/p-shot">P-Shot - Male Sexual Wellness</a></li>            
            <li><a href="{{ site.baseurl }}/services/hormone">Hormone Therapy</a></li>
            <li><a href="{{ site.baseurl }}/services/aesthetics">Vampire Services</a></li>
            <li><a href="{{ site.baseurl }}/services/weight-loss">Medical Weight Loss</a></li>
          </ul>
        </li>
    </div>
</footer>
