<header>
  <a class="logo" href="{{ site.baseurl }}/">
    {% include svgs/logo.html %}
  </a>
  <nav>
    <ul>
      <li class="{% if page.permalink contains '/about' %}active{% endif %}"><a href="{{ site.baseurl }}/about">About</a></li>
      <li class="{% if page.permalink contains '/forms' %}active{% endif %}"><a href="{{ site.baseurl }}/forms">Forms</a></li>
      <li class="{% if page.permalink contains '/services' %}active{% endif %}">
        <a href="#!">Services &amp; Education</a>
        <ul>
          <li class="label">Primary Care Services</li>
          <li><a href="{{ site.baseurl }}/services/education">General Education</a></li>
          <li><a href="{{ site.baseurl }}/services/evox">Evox Brain Map</a></li>
          <li><a href="{{ site.baseurl }}/services/knee">Knee Pain Treatment</a></li>
          <li><a href="{{ site.baseurl }}/services/lower-extremity-treatment">Lower Extremity Treatment</a></li>
          <li class="label">{% include svgs/gc-wellness-abbreviated.html %}</li>
          <li><a href="https://heartsmartsystems.com/">HeartSmart</a></li>
          <li><a href="{{ site.baseurl }}/services/seca">Seca Body Composition</a></li>
          <li><a href="{{ site.baseurl }}/services/hormone">Hormone Therapy</a></li>
          <li><a href="{{ site.baseurl }}/services/aesthetics">Aesthetics</a></li>
          <li><a href="{{ site.baseurl }}/services/weight-loss">Medical Weight Loss</a></li>
          <li><a href="{{ site.baseurl }}/services/ed">Male Sexual Wellness</a></li>
        </ul>
      </li>
      <li><a href="https://us.fullscript.com/welcome/gerstenbergclinic" target="_blank">Fullscript</a></li>
      <li><a href="https://us18.campaign-archive.com/home/?u=3bdf416b29288fcc89abfd51c&id=7ebbff7022" target="_blank">Articles</a></li>
      <li><a href="https://www.facebook.com/gerstenberg.clinic/" target="_blank"><img src="{{ site.baseurl }}/img/fb-icon.png" /></a></li>
      <li><a href="https://www.youtube.com/channel/UC9HfWlvz_leYJQkM4ac-yOw" target="_blank"><img src="{{ site.baseurl }}/img/youtube-icon.png" /></a></li>
    </ul>
  </nav>
</header>
