<header>
  <a class="logo" href="{{ site.baseurl }}/">
    {% include svgs/logo.html %}
  </a>
  <nav>
    <ul>
      <li><a href="{{ site.baseurl }}/about">About</a></li>
      <li><a href="{{ site.baseurl }}/forms">Forms</a></li>
      <li>
        <a href="{{ site.baseurl }}/services">Services</a>
        <ul>
          <li><a href="{{ site.baseurl }}/services/primary-care">Primary Care Services</a></li>
          <li><a href="{{ site.baseurl }}/services/wellness">g.c. Wellness</a></li>
          <li><a href="{{ site.baseurl }}/services/hormone">Hormone Therapy</a></li>
          <li><a href="{{ site.baseurl }}/services/aesthetics">Aesthetics</a></li>
          <li><a href="{{ site.baseurl }}/services/weight-loss">Weight Loss</a></li>
        </ul>
      </li>
      <li><a href="{{ site.baseurl }}/fullscript">Fullscript</a></li>
    </ul>
  </nav>
</header>
