.btn {
  color: $gray4;
  background: $gray2;
  font-size: 2.4rem;
  padding: 10px 15px;
  text-decoration: none;

  &:hover, &:focus {
    background: darken($gray2, 5);
  }

  svg {
    max-width: 100%;
  }
}
