@font-face {
  font-family: 'Uni Neue';
  src: url('/font/UniNeueThin.eot');
  src: url('/font/UniNeueThin.woff2') format('woff2'),
       url('/font/UniNeueThin.woff') format('woff'),
       url('/font/UniNeueThin.ttf') format('truetype'),
       url('/font/UniNeueThin.svg#UniNeueThin') format('svg'),
       url('/font/UniNeueThin.eot?#iefix') format('embedded-opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Neue';
  src: url('/font/UniNeueThin-Italic.eot');
  src: url('/font/UniNeueThin-Italic.woff2') format('woff2'),
       url('/font/UniNeueThin-Italic.woff') format('woff'),
       url('/font/UniNeueThin-Italic.ttf') format('truetype'),
       url('/font/UniNeueThin-Italic.svg#UniNeueThin-Italic') format('svg'),
       url('/font/UniNeueThin-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Uni Neue';
  src: url('/font/UniNeueLight.eot');
  src: url('/font/UniNeueLight.woff2') format('woff2'),
       url('/font/UniNeueLight.woff') format('woff'),
       url('/font/UniNeueLight.ttf') format('truetype'),
       url('/font/UniNeueLight.svg#UniNeueLight') format('svg'),
       url('/font/UniNeueLight.eot?#iefix') format('embedded-opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Neue';
  src: url('/font/UniNeueLight-Italic.eot');
  src: url('/font/UniNeueLight-Italic.woff2') format('woff2'),
       url('/font/UniNeueLight-Italic.woff') format('woff'),
       url('/font/UniNeueLight-Italic.ttf') format('truetype'),
       url('/font/UniNeueLight-Italic.svg#UniNeueLight-Italic') format('svg'),
       url('/font/UniNeueLight-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Uni Neue';
  src: url('/font/UniNeueBook.eot');
  src: url('/font/UniNeueBook.woff2') format('woff2'),
       url('/font/UniNeueBook.woff') format('woff'),
       url('/font/UniNeueBook.ttf') format('truetype'),
       url('/font/UniNeueBook.svg#UniNeueBook') format('svg'),
       url('/font/UniNeueBook.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Neue';
  src: url('/font/UniNeueBook-Italic.eot');
  src: url('/font/UniNeueBook-Italic.woff2') format('woff2'),
       url('/font/UniNeueBook-Italic.woff') format('woff'),
       url('/font/UniNeueBook-Italic.ttf') format('truetype'),
       url('/font/UniNeueBook-Italic.svg#UniNeueBook-Italic') format('svg'),
       url('/font/UniNeueBook-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Uni Neue';
  src: url('/font/UniNeueRegular.eot');
  src: url('/font/UniNeueRegular.woff2') format('woff2'),
       url('/font/UniNeueRegular.woff') format('woff'),
       url('/font/UniNeueRegular.ttf') format('truetype'),
       url('/font/UniNeueRegular.svg#UniNeueRegular') format('svg'),
       url('/font/UniNeueRegular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Neue';
  src: url('/font/UniNeueRegular-Italic.eot');
  src: url('/font/UniNeueRegular-Italic.woff2') format('woff2'),
       url('/font/UniNeueRegular-Italic.woff') format('woff'),
       url('/font/UniNeueRegular-Italic.ttf') format('truetype'),
       url('/font/UniNeueRegular-Italic.svg#UniNeueRegular-Italic') format('svg'),
       url('/font/UniNeueRegular-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Uni Neue';
  src: url('/font/UniNeueBold.eot');
  src: url('/font/UniNeueBold.woff2') format('woff2'),
       url('/font/UniNeueBold.woff') format('woff'),
       url('/font/UniNeueBold.ttf') format('truetype'),
       url('/font/UniNeueBold.svg#UniNeueBold') format('svg'),
       url('/font/UniNeueBold.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Neue';
  src: url('/font/UniNeueBold-Italic.eot');
  src: url('/font/UniNeueBold-Italic.woff2') format('woff2'),
       url('/font/UniNeueBold-Italic.woff') format('woff'),
       url('/font/UniNeueBold-Italic.ttf') format('truetype'),
       url('/font/UniNeueBold-Italic.svg#UniNeueBold-Italic') format('svg'),
       url('/font/UniNeueBold-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Uni Neue';
  src: url('/font/UniNeueHeavy.eot');
  src: url('/font/UniNeueHeavy.woff2') format('woff2'),
       url('/font/UniNeueHeavy.woff') format('woff'),
       url('/font/UniNeueHeavy.ttf') format('truetype'),
       url('/font/UniNeueHeavy.svg#UniNeueHeavy') format('svg'),
       url('/font/UniNeueHeavy.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Neue';
  src: url('/font/UniNeueHeavy-Italic.eot');
  src: url('/font/UniNeueHeavy-Italic.woff2') format('woff2'),
       url('/font/UniNeueHeavy-Italic.woff') format('woff'),
       url('/font/UniNeueHeavy-Italic.ttf') format('truetype'),
       url('/font/UniNeueHeavy-Italic.svg#UniNeueHeavy-Italic') format('svg'),
       url('/font/UniNeueHeavy-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Uni Neue';
  src: url('/font/UniNeueBlack.eot');
  src: url('/font/UniNeueBlack.woff2') format('woff2'),
       url('/font/UniNeueBlack.woff') format('woff'),
       url('/font/UniNeueBlack.ttf') format('truetype'),
       url('/font/UniNeueBlack.svg#UniNeueBlack') format('svg'),
       url('/font/UniNeueBlack.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Neue';
  src: url('/font/UniNeueBlack-Italic.eot');
  src: url('/font/UniNeueBlack-Italic.woff2') format('woff2'),
       url('/font/UniNeueBlack-Italic.woff') format('woff'),
       url('/font/UniNeueBlack-Italic.ttf') format('truetype'),
       url('/font/UniNeueBlack-Italic.svg#UniNeueBlack-Italic') format('svg'),
       url('/font/UniNeueBlack-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: italic;
}
