footer {
  background: $purple1;
  padding: 50px;

  .row {
    background: $purple1;
    padding-bottom: 0 !important;
  }

  .third {
    p {
      margin: 5px 0;
      font-size: 1.6rem;
      color: $gray4;

      .logo-svg {
        margin-top: 0;
      }
    }

    .footer-nav {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: right;

      b {
        font-size: 1.6rem;
      }

      li {
        line-height: 1.2;
      }

      & > li {
        display: inline;

        &:first-child {
          margin-right: 2em;
        }

        a {
          color: $gray4;
          text-decoration: none;
          font-size: 1.6rem;

          &:hover {
            text-decoration: underline;
          }
        }

        ul li {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  footer {
    .third {
      .footer-nav {
        margin-top: 20px;
        text-align: left;

        & > li, & > li:first-child {
          margin-right: 10px;
        }

        li {
          margin-left: 0;
        }
      }
    }
  }
}
