.row {
  margin: 0 -15px;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.third {
  width: calc(100% / 3);
  float: left;
  padding: 0 15px;
}

.two-thirds {
  width: calc(2 * (100% / 3));
  float: left;
  padding: 0 15px;
}

.half {
  width: 50%;
  float: left;
  padding: 0 15px;
}

.visible-xs {
  display: none;
}

@media (max-width: 850px) {
  .two-thirds {
    width: 100%;
  }

  .third {
    width: 100%;
    margin-bottom: 15px;

    &.visible-xs {
      display: block;
    }

    &.hidden-xs {
      display: none;
    }
  }
}

@media (max-width: 750px) {
  .half {
    width: 100%;

    &.visible-xs {
      display: block;
    }

    &.hidden-xs {
      display: none;
    }
  }
}
