header {
  background: $gray1;
  padding: 20px 50px;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  .logo {
    float: left;

    svg {
      margin-top: 6px;
      height: 30px;
      width: auto;
    }
  }

  nav {
    float: right;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        position: relative;

        &:hover {
          ul {
            display: block;
          }
        }

        a {
          display: block;
          font-size: 1.6rem;
          color: $gray5;
          text-decoration: none;
          padding: 10px;
        }

        ul {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background: $bodyBg;
          width: 200px;
          padding: 5px 0;

          &:before {
            content: '';
            display: block;
            position: absolute;
            border: 7.5px solid transparent;
            border-left-color: $bodyBg;
            border-bottom-color: $bodyBg;
            top: -7.5px;
            left: 30px;
            transform: rotate(135deg);
          }

          li {
            display: block;

            a {
              padding: 5px 10px;

              &:hover {
                background: $gray1;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 690px) {
  header {
    .logo {
      float: none;
      display: block;
      text-align: center;
    }

    nav {
      float: none;
      display: block;
      text-align: center;
    }
  }
}
