header {
  background: $gray1;
  padding: 20px 50px;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  .logo {
    float: left;

    svg {
      max-width: 100%;
      margin-top: 6px;
      height: 30px;
      width: auto;
    }
  }

  nav {
    float: right;

    svg {
      height: 1.2rem;
      width: auto;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        position: relative;

        &.active {
          font-weight: 600;
        }

        &:hover, &:focus {
          ul {
            display: block;
            z-index: 10;
          }
        }

        a {
          display: block;
          font-size: 1.6rem;
          color: $gray5;
          text-decoration: none;
          padding: 10px;
        }

        ul {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background: $bodyBg;
          width: 200px;
          padding: 5px 0;

          &:before {
            content: '';
            display: block;
            position: absolute;
            border: 7.5px solid transparent;
            border-left-color: $bodyBg;
            border-bottom-color: $bodyBg;
            top: -7.5px;
            left: 30px;
            transform: rotate(135deg);
          }

          li {
            display: block;
            text-indent: 0;
            padding-left: 0;

            &.label {
              padding: .5em 1em;
            }

            &:not(.label) {
              a {
                padding: 5px 10px;
                background-color: $gray1;
                margin-left: 0;

                &:hover {
                  background: darken($gray1, 5);
                }
              }
            }
          }
        }
      }

      .label {
        font-size: 1.2rem;
        padding-left: .5em;
      }
    }
  }
}

@media (max-width: 690px) {
  header {
    .logo {
      float: none;
      display: block;
      text-align: center;
    }

    nav {
      float: none;
      display: block;
      text-align: center;
    }
  }
}

@media (max-width: 488px) {
  header {
    padding: 20px;

    nav {
      ul {
        margin: 5px;
        
        li {
          a {
            padding: 5px 10px;
          }
        }
      }
    }
  }
}
