@import "variables";

iframe {
  width: 100vw;
  height: 56.25vw;
  max-width: $max-width;
  max-height: $max-width * .5625;
}

.row:not(.tiles) {
  .p, h2, h3, ul, ol {
    &:not(:last-child) {
      padding-bottom: 3rem;
    }
  }
}

.row:not(.tiles):not(.last-child) {
  padding-bottom: 3rem;
}

.row.cards:not(.last-child) {
  margin-bottom: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;

  &.video {
    margin: 0em 10%;
  }

  &.blurb {
    margin-bottom: 5rem;
  }
}

.two-thirds, .half, .third, .fourth {
  width: 0;
}

.two-thirds {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 2 + ($gutter * 6);
}

.blurb .two-thirds {
  display: flex;
  align-items: center;
}

.half {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1;
}

.third {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1;
}

.fourth {
  margin: 0 !important;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(100% / 4);
}

@media (min-width: 850px) {
  .half.tile img {
    max-width: $max-width/2
  }

  .half:not(.tile) {
    &:first-child {
      margin-right: 5rem;
    }
  }

  .third {
    &:nth-child(2) {
      margin: 0 5rem;
    }
  }
}

@media (min-width: 1080px) {
  .two-thirds {
    padding-left: 5rem;
  }
}

@media (max-width: 1020px) {
  .blurb {
    .third {
      flex-basis: 100%;

      &:nth-child(2) {
        margin-top: 2rem;
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 1080px) {
  .row > .half.tile {
    flex-basis: 100%;
    margin: 0 auto;
  }

  .third.card {
    flex-basis: 100%;
    margin: 1rem auto;
  }
}

@media (max-width: 850px) {
  .half, .third, .two-thirds {
    flex-basis: 100%;
  }

  .row > .half, .tile.half.img, .tile.half.text {
    margin: 0 auto;
  }

  .third {
    margin-bottom: 15px;

    &.visible-xs {
      display: block;
    }

    &.hidden-xs {
      display: none;
    }
  }
}

@media (max-width: 750px) {
  .row > div, .row:first-child .third.card.dark {
    margin: 10px auto;
  }
}

@media (min-width: $max-width) {
  .row > div:first-child {
    margin-left: 0;
  }
}

@media (min-width: $max-width / 2) {
  .half {
    max-width: $max-width / 2;
  }
}

@media (max-width: $max-width) {
  .tile.half {
    min-width: 50%;
  }
}
