@import "variables";

iframe {
  width: 100vw;
  height: 56.25vw;
  max-width: $max-width;
  max-height: $max-width * .5625;
}

.row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;

  &.video {
    margin: 6em 0;
  }

  & > div {
    margin: 0 15px;

    &:not(.card) {
      padding: 0;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

.row.tiles div {
  margin: 0 0;
}

.tiles {
  margin: 0 0;
}

.two-thirds, .half, .third, .fourth {
  width: 0;
}

.two-thirds {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 2 + ($gutter * 6);
}

.half {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1;
}

.third {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1;
}

.fourth {
  margin: 0 !important;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(100% / 4);
}

.visible-xs {
  display: none;
}

@media (min-width: 850px) {
  .half.tile img {
    max-width: $max-width/2
  }
}

@media (max-width: 850px) {
  .half, .third, .two-thirds {
    flex-basis: 100%;
  }

  .third {
    margin-bottom: 15px;

    &.visible-xs {
      display: block;
    }

    &.hidden-xs {
      display: none;
    }
  }
}

@media (max-width: 750px) {
  .half {
    &.visible-xs {
      display: block;
    }

    &.hidden-xs {
      display: none;
    }
  }
}

@media (min-width: $max-width / 2) {
  .half {
    max-width: $max-width / 2;
  }
}

@media (max-width: $max-width) {
  .tile.half {
    min-width: 50%;
  }
}