.row.tiles div {
  margin: 0 0;
}

.tiles {
  margin: 0 0;
}

.tile {
  &.half.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5em;
  }

  & > * {
    max-width: 100%;
  }

  h3 {
    margin: 0;
  }

  &.half.img {
    padding: 0;
    margin-bottom: -3px;
  }

  &.fourth {
    position: relative;
    padding: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      display: block;
      text-align: center;
      margin: 0 auto;
      color: $bodyBg;
      font-size: 2.5rem;
      font-weight: 300;
    }

    .overlay {
      display: none;
    }

    img {
      width: 100%;
    }

    &:hover {
      img {
        filter: grayscale(70%) brightness(40%);
      }

      .overlay {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}

@media (max-width: 1080px) {
  .tiles.switch {
    .tile:first-of-type {
      order: 2;
    }
  }
}