@import "fonts";

@media (max-width: 850px) {
  html, body {
    font-size: 8px;
  }
}

html, body {
  font-size: 10px;
  font-family: 'Uni Neue';
}

h2 {
	font-size: 3rem;
	font-weight: 600;
}

h3 {
	font-size: 2.2rem;
	font-weight: 500;
}

p {
	font-size: 2.2rem;
	font-weight: 300;
  line-height: 1.4;
}

.row > p {
	font-style: italic;
	text-align: center;
}

ul, ol {
	font-size: 2.2rem;
	font-weight: 300;
  list-style-position: inside;
  padding-left: 0;
  line-height: 1.5;
}

small {
	font-size: 1rem;
}

strong, b {
	font-weight: 600;
}

main li {
  padding-left: 2em;
  text-indent: -2em;
}

.btn {
	font-size: 1.7rem;
	text-align: center;
}

a:not(.btn) {
	color: inherit;
}

.cards:not(.light) .card:nth-child(2) {
	h2 {
		font-size: 2.8rem;
	}
}

.row:nth-child(1) .dark p {
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
}

.tile {

	h2 {
		font-size: 3.4rem;
	}

  h2 + h3 {
    font-size: 2.2rem;
    font-weight: 200;
    font-style: italic;
  }

	p {
		font-size: 2.4rem;
	}

	.btn {
		font-size: 2.4rem;
	}

	&.half {
		text-align: left;
	}

	&.quarter {
		text-align: center;

		.overlay {
      font-size: 2.5rem;
      font-weight: 300;
      color: $bodyBg;
		}
	}
}

.blurb {
	ul {
		font-size: 1.8rem;
	}

  p {
    margin-top: 0;
  }

  .third {
    &:first-child {
      p {
        color: $gray4;
        font-size: 2.2rem;
        font-weight: 400;
      }
    }

    h3 {
      padding-bottom: 0 !important;
    }

    &:nth-child(3) p {
      color: $gray4;
    }
  }

  .two-thirds {
    font-size: 2.4rem;
    font-weight: 300;
  }
}

.schedule-consultation {
  padding: 6rem 0;

  h2 {
    font-size: 3.5rem;
  }

  h2:nth-of-type(2) {
    padding-bottom: .5em;
  }
}

.center {
  text-align: center;
  h2 {
    margin: 0 auto;
  }
}
