@import "fonts";

@media (max-width: 850px) {
  html, body {
    font-size: 8px;
  }
}

html, body {
  font-size: 10px;
  font-family: 'Uni Neue';
}

h2 {
	font-size: 3rem;
	font-weight: 600;
}

h3 {
	font-size: 2.2rem;
	font-weight: 500;
}

p {
	font-size: 2.2rem;
	font-weight: 300;
}

.row > p {
	font-style: italic;
	text-align: center;
}

ul, ol {
	font-size: 2.2rem;
	font-weight: 300;
  list-style-position: inside;
  padding-left: 0;
}

li {
  padding-left: 2em;
  text-indent: -1.5em;
}

small {
	font-size: 1rem;
}

strong, b {
	font-weight: 600;
}

.btn {
	font-size: 1.7rem;
	text-align: center;
}

a:not(.btn) {
	color: inherit;
}

.cards:not(.light) .card:nth-child(2) {
	h2 {
		font-size: 2.8rem;
	}
}

.row:nth-child(1) .dark p {
  font-weight: 500;
  text-align: center;
}

.tile {

	h2 {
		font-size: 3.4rem;
	}

  h2 + h3 {
    font-size: 2.2rem;
    font-weight: 200;
    font-style: italic;
  }

	p {
		font-size: 2.4rem;
	}

	.btn {
		font-size: 2.4rem;
	}

	&.half {
		text-align: left;
	}

	&.quarter {
		text-align: center;

		.overlay {
      font-size: 2.5rem;
      font-weight: 300;
      color: $bodyBg;
		}
	}
}

.blurb {
	ul {
		font-size: 1.8rem;
	}
}

.center {
  text-align: center;
  h2 {
    margin: 0 auto;
  }
}