---
layout: default
permalink: /services/hormone
hero: /img/heros/hero-gclinic-biote.jpg
tagline: Age Healthier, Live Happier! Naturally!
keywords: "Gerstenberg, Gertenberg, Gersteberg, Gerstenburg, Gurstenburg, Gutenberg, Gutenburg, Gurtenberg, Gurtenburg, Paul, Doctor, Dr, 
wellness,Hormone,Imbalance,Inbalance,Biote,Pellet,therapy,Shot,topical,Fatigue,Mood Changes,Decreased,Mental Ability,Hot Flashes,Night Sweats,Weight Gain,Decreased,Sex Drive,Sleep Problems,Always Cold,Hair Loss,Breakage,Dry skin,Wrinkled Skin,Joint pain,Muscle ache,No strength"
description: "BioTE Hormone Therapy. Are you tired all the time? Do you have decreased energy and sex drive? It’s possible you are suffering from hormone imbalance. BioTE from gerstenberg.clinic is hormone therapy that can target these and other symptoms."
stylesheet: hormone
redirect_from: /biote
---

<section class="row light blurb">
  <div class="third">
    <h2>Symptoms of Hormone Imbalance</h2>
    <p>If you have several of these symptoms, it’s possible that you are suffering from hormone imbalance.</p>
    <p>Don't be dragged down by imbalance. Visit us for a consultation.</p>
  </div>
  <div class="third">
    <h3>Female:</h3>
    <ul>
    	<li>Fatigue</li>
    	<li>Mood Changes</li>
    	<li>Decreased Mental Ability</li>
    	<li>Hot Flashes / Night Sweats</li>
    	<li>Weight Gain</li>
    	<li>Decreased Sex Drive</li>
    	<li>Sleep Problems</li>
    	<li>Always Cold</li>
    	<li>Hair Loss / Breakage</li>
    	<li>Dry Wrinkled Skin</li>
    </ul>
  </div>
  <div class="third">
    <h3>Male:</h3>
    <ul>
    	<li>Fatigue</li>
    	<li>Mood Changes</li>
    	<li>Decreased Mental Ability</li>
    	<li>Excessive Sweating</li>
    	<li>Weight Gain</li>
    	<li>Decreased Sex Drive</li>
    	<li>Sleep Problems</li>
    	<li>Decreased Muscle Strength</li>
    	<li>Hair Loss / Breakage</li>
    	<li>Joint Pain / Muscle Aches</li>
    </ul>
  </div>
</section>

<div class="row">
  <div class="third">
    <img src="../img/third/third-hand.jpg" alt="A hand with the palm up holds two pills."/>
    <img src="../img/third/third-biote.png" alt="Certified trusted BioTE provider badge" />
  </div>
  <div class="two-thirds">
    <h3>What is Hormone Pellet Therapy?</h3>
    <p>Your hormonal system is one of the important regulatory systems in your body. They act as messengers, designed to interact with specific target cells and organs and provoke a change or result. As we age, hormone production changes, and hormonal imbalance can occur as a result. Unbalanced hormones can have a variety of side effects and symptoms.</p> 
    <p>BioTE is a human-identical hormone subcutaneous pellet therapy to help NATURALLY balance hormones in both women and men.</p>
    <p>Pellet therapy uses hormones derived from natural plant sources to replicate the body’s normal hormonal levels. Patients have found that bio-identical hormone replacement therapy with pellet implants is extremely effective. Implants, placed under the skin, consistently release small, physiologic doses of hormones that provide optimal therapy.</p>
    <p>Unlike typical oral and transdermal forms of hormone therapy — which produce “roller coaster” hormone levels, resulting in mood and energy fluctuations for the patient — BioTE medical hormone pellet therapy is the only method of hormone therapy that provides sustained hormone levels throughout the day for up to three to five months without any “roller coaster” effect.</p>
    <p>Because the hormones used are completely natural, pellet therapy is ideal for patients who want the benefits of a natural hormone without the drawbacks of a synthetic.</p>
    <p>{% include svgs/logo.html %} is a certified BioTE Medical provider that offers BHRT pellet therapy, nutraceuticals and a high-quality standard of care to patients.</p>
  </div>
</div>

<div class="row dark">
  <p>Hormone Deficiency Increases Your Risk of:</p>
</div>

<div class="row tiles">
  <div class="fourth tile img">
    <img src="../img/sm-squares/sm-square-breast.jpg" alt="Uterine and breast cancer, Fibrocystic Disease"/>
    <div class="overlay">
      <span>Uterine and Breast Cancer</span>
      <span>Fibrocystic Disease</span>
    </div>
  </div>
  <div class="fourth tile img">
    <img src="../img/sm-squares/sm-square-depression.jpg" alt="Depression"/>
    <div class="overlay">
      <span>Depression</span>
    </div>
  </div>
  <div class="fourth tile img">
    <img src="../img/sm-squares/sm-square-wrinkles.jpg" alt="Dry wrinkled skin, hair Loss and breakage"/>
    <div class="overlay">
      <span>Dry Wrinkled Skin</span>
      <span>Hair Loss and Breakage</span>
    </div>
  </div>
  <div class="fourth tile img">
    <img src="../img/sm-squares/sm-square-heart.jpg" alt="Heart disease"/>
    <div class="overlay">
      <span>Heart Disease</span>
    </div>
  </div>
</div>

<div class="row tiles">
  <div class="fourth tile img">
    <img src="../img/sm-squares/sm-square-osteoporosis.jpg" alt="Osteoporosis or bone fracture"/>
    <div class="overlay">
      <span>Osteoporosis or </span>
      <span>Bone Fracture</span>
    </div>
  </div>
  <div class="fourth tile img">
    <img src="../img/sm-squares/sm-square-diabetes.jpg" alt="Diabetes"/>
    <div class="overlay">
      <span>Diabetes</span>
    </div>
  </div>
  <div class="fourth tile img">
    <img src="../img/sm-squares/sm-square-alzheimers.jpg" alt="Alzheimer’s"/>
    <div class="overlay">
      <span>Alzheimer’s</span>
    </div>
  </div>
  <div class="fourth tile img">
    <img src="../img/sm-squares/sm-square-menstrual.jpg" alt="Ovarian Cysts"/>
    <div class="overlay">
      <span>Ovarian Cysts</span>
    </div>
  </div>
</div>

{% include schedule-consultation.html %}
