---
layout: default
permalink: /services/hormone
hero: /img/heros/hero-gclinic-biote.jpg
tagline: Age Healthier, Live Happier! Naturally!
keywords: "Gerstenberg, Gertenberg, Gersteberg, Gerstenburg, Gurstenburg, Gutenberg, Gutenburg, Gurtenberg, Gurtenburg, Paul, Doctor, Dr, 
wellness,Hormone,Imbalance,Inbalance,Biote,Pellet,therapy,Shot,topical,Fatigue,Mood Changes,Decreased,Mental Ability,Hot Flashes,Night Sweats,Weight Gain,Decreased,Sex Drive,Sleep Problems,Always Cold,Hair Loss,Breakage,Dry skin,Wrinkled Skin,Joint pain,Muscle ache,No strength"
description: "BioTE Hormone Therapy. Are you tired all the time? Do you have decreased energy and sex drive? It’s possible you are suffering from hormone imbalance. BioTE from gerstenberg.clinic is hormone therapy that can target these and other symptoms."
stylesheet: hormone
redirect_from: /biote
---

<div class="row video">
	<iframe class="assetIframe" style="border:0" 
			src="https://www.youtube.com/embed/playlist?list=PLxFTymMfPQOWqoYt9DUkfkgk_rYC6HqAP"></iframe>
</div>

<section class="row light blurb">
  <div class="third">
    <h2>Symptoms of Hormone Imbalance</h2>
    <p>If you have several of these symptoms, it’s possible that you are suffering from hormone imbalance.</p>
    <p>Don't be dragged down by imbalance. Visit us for a consultation.</p>
  </div>
  <div class="third">
    <h3>Female:</h3>
    <ul>
    	<li>Fatigue</li>
    	<li>Mood Changes</li>
    	<li>Decreased Mental Ability</li>
    	<li>Hot Flashes / Night Sweats</li>
    	<li>Weight Gain</li>
    	<li>Decreased Sex Drive</li>
    	<li>Sleep Problems</li>
    	<li>Always Cold</li>
    	<li>Hair Loss / Breakage</li>
    	<li>Dry Wrinkled Skin</li>
    </ul>
  </div>
  <div class="third">
    <h3>Male:</h3>
    <ul>
    	<li>Fatigue</li>
    	<li>Mood Changes</li>
    	<li>Decreased Mental Ability</li>
    	<li>Excessive Sweating</li>
    	<li>Weight Gain</li>
    	<li>Decreased Sex Drive</li>
    	<li>Sleep Problems</li>
    	<li>Decreased Muscle Strength</li>
    	<li>Hair Loss / Breakage</li>
    	<li>Joint Pain / Muscle Aches</li>
    </ul>
  </div>
</section>

<div class="row">
  <div class="third">
    <img src="../img/third/third-hand.jpg" alt="A hand with the palm up holds two pills."/>
  </div>
  <div class="two-thirds">
    <h3>What is Hormone Pellet Therapy?</h3>
    <p>Your hormonal system is one of the important regulatory systems in your body. They act as messengers, designed to interact with specific target cells and organs and provoke a change or result. As we age, hormone production changes, and hormonal imbalance can occur as a result. Unbalanced hormones can have a variety of side effects and symptoms.</p> 
    <p>Biote is a human-identical hormone subcutaneous pellet therapy to help NATURALLY balance hormones in both women and men.</p>
    <p>Pellet therapy uses hormones derived from natural plant sources to replicate the body’s normal hormonal levels. Patients have found that bio-identical hormone replacement therapy with pellet implants is extremely effective. Implants, placed under the skin, consistently release small, physiologic doses of hormones that provide optimal therapy.</p>
    <p>{% include svgs/logo.html %} is a certified Biote Medical provider that offers BHRT pellet therapy, nutraceuticals and a high-quality standard of care to patients.</p>
  </div>
</div>

<div class="row">
  <div class="third">
    <img src="../img/third/third-biote.png" alt="Certified trusted BioTE provider badge" />
  </div>
  <div class="two-thirds">
    <h3>What is the difference from synthetics?</h3>
    <p>Unlike typical oral and transdermal forms of hormone therapy — which produce “roller coaster” hormone levels, resulting in mood and energy fluctuations for the patient — Biote medical hormone pellet therapy is the only method of hormone therapy that provides sustained hormone levels throughout the day for up to three to five months without any “roller coaster” effect.</p>
    <p>Breast Cancer is the most common primary malignancy and second leading cause of death from malignancy in women. One common concern is that synthetic hormones can actually increase the risk of breast cancer, but on the contrary, bio-identical hormones are breast cancer PROTECTIVE. See literature here: 
        <a href="/pdf/biote/Reduced%20Breast%20Cancer%20Incidence%20in%20Women%20Treated%20with%20Subcutaneous%20Testosterone.pdf">"Reduced Breast Cancer Incidence in Women Treated with Subcutaneous Testosterone,"</a>
        <a href="/pdf/biote/Breast%20cancer%20in%20women%20treated%20with%20testosterone%20implants%2010-year%20study.pdf">"Breast cancer in women treated with testosterone implants 10-year study,"</a>
        <a href="/pdf/biote/Breast%20Cancer%20Incidence%20Reduction.pdf">"Breast Cancer Incidence Reduction in Women Treated with Subcutaneous Testosterone,"</a> 
        <a></a>
        <a href="/pdf/biote/Androgens%20and%20the%20Breast.pdf">"Androgens and the Breast."</a></p>
    <p>Because the hormones used are completely natural, pellet therapy is ideal for patients who want the benefits of a natural hormone without the drawbacks of a synthetic.</p>
  </div>
</div>


<div class="row dark">
  <p>Hormone Deficiency Increases Your Risk of:</p>
</div>

<div class="row tiles">
  <div class="fourth tile img">
    <img src="../img/sm-squares/sm-square-breast.jpg" alt="Uterine and breast cancer, Fibrocystic Disease"/>
    <div class="overlay">
      <span>Uterine and Breast Cancer</span>
      <span>Fibrocystic Disease</span>
    </div>
  </div>
  <div class="fourth tile img">
    <img src="../img/sm-squares/sm-square-depression.jpg" alt="Depression"/>
    <div class="overlay">
      <span>Depression</span>
    </div>
  </div>
  <div class="fourth tile img">
    <img src="../img/sm-squares/sm-square-wrinkles.jpg" alt="Dry wrinkled skin, hair Loss and breakage"/>
    <div class="overlay">
      <span>Dry Wrinkled Skin</span>
      <span>Hair Loss and Breakage</span>
    </div>
  </div>
  <div class="fourth tile img">
    <img src="../img/sm-squares/sm-square-heart.jpg" alt="Heart disease"/>
    <div class="overlay">
      <span>Heart Disease</span>
    </div>
  </div>
</div>

<div class="row tiles">
  <div class="fourth tile img">
    <img src="../img/sm-squares/sm-square-osteoporosis.jpg" alt="Osteoporosis or bone fracture"/>
    <div class="overlay">
      <span>Osteoporosis or </span>
      <span>Bone Fracture</span>
    </div>
  </div>
  <div class="fourth tile img">
    <img src="../img/sm-squares/sm-square-diabetes.jpg" alt="Diabetes"/>
    <div class="overlay">
      <span>Diabetes</span>
    </div>
  </div>
  <div class="fourth tile img">
    <img src="../img/sm-squares/sm-square-alzheimers.jpg" alt="Alzheimer’s"/>
    <div class="overlay">
      <span>Alzheimer’s</span>
    </div>
  </div>
  <div class="fourth tile img">
    <img src="../img/sm-squares/sm-square-menstrual.jpg" alt="Ovarian Cysts"/>
    <div class="overlay">
      <span>Ovarian Cysts</span>
    </div>
  </div>
</div>

<div class="row" style="padding-bottom: 60px">
	<div class="two-thirds bottom">
        <h2 style="margin-top: 30px">Frequently Asked Questions:</h2>
        <h3 class="bottom">How much does Biote cost?</h3>
		<p>For women: $399 for the initial pellet, and then $299 afterwards.</p>
            <p>For men: $799 for the initial pellet, and then $699 afterwards.</p>
            <p>This price includes pellet insertion PLUS a bottle of the specially formulated DIM nutraceutical, which keeps testosterone from being converted to estrogen. This optimizes your pellets and promotes beneficial estrogen metabolism and helps restore a healthy hormonal balance.</p>
		<h3 class="bottom">Who can get Biote?</h3>
		<p>Each patient is screened based on both subjective factors (your symptoms) and objective (lab testing of your hormone levels). Dosing is based on getting your hormones to an optimal level. 
		</p>
        <h3 class="bottom">What if I still have insufficient levels?</h3>
		<p>We will do follow up labs and assessment after pelleting to adjust your dosage. Be sure to take your DIM, stay hydrated and at least moderately active for best results.
        </p>
        <h3 class="bottom">Does the procedure hurt?</h3>
		<p>There is a pinch, similar to getting a shot in your behind.</p>      
        <h3 class="bottom">How long do pellets last?</h3>
        <p>About 3 months for women, or 6 months for men. Your activity level and particular physical needs will determine how long pellets last. Most people can identify when they are in need of re-pelleting, because their symptoms pre-pellets start to return.</p> 
        <h3 class="bottom">Are there restrictions after I get pelleted</h3>
        <p>The insertion site will be covered with two layers of bandages. Do not remove either bandage at ALL for 7 days. No tub baths, hot tubs, or swimming pools for 5-7 days. You may shower. No major lower-body exercise for 7 days.</p>   
        <h3>What are possible side effects?</h3>
            <p>A significant hormonal transition will occur in the first four weeks after the insertion of your hormone pellets. Therefore, certain changes might develop that can be bothersome.</p>
            <p>FLUID RETENTION: Testosterone stimulates the muscle to grow and retain water which may result in a weight change of two to five pounds. This is only temporary. This happens frequently with the first insertion, and especially during hot, humid weather conditions.</p>
            <p>SWELLING of the HANDS & FEET: This is common in hot and humid weather. It may be treated by drinking lots of water, reducing your salt intake, taking cider vinegar capsules daily, (found at most health and food stores) or by taking a mild diuretic, which the office can prescribe.</p>
            <p>MOOD SWINGS/IRRITABILITY: These may occur if you were quite deficient in hormones. They will disappear when enough hormones are in your system.</p>
            <p>FACIAL BREAKOUT: Some pimples may arise if the body is very deficient in testosterone. This lasts a short period of time and can be handled with a good face cleansing routine, astringents and toner. If these solutions do not help, please call the office for suggestions and possibly prescriptions.</p>
            <p>HAIR LOSS: Is rare and usually occurs in patients who convert testosterone to DHT. Dosage adjustment generally reduces or eliminates the problem. Prescription medications may be necessary in rare cases.</p>
            <p>Women: HAIR GROWTH: Testosterone may stimulate some growth of hair on your chin, chest, nipples and/or lower abdomen. This tends to be hereditary. You may also have to shave your legs and arms more often. Dosage adjustment generally reduces or eliminates the problem.</p>
            <p>Women: UTERINE SPOTTING/BLEEDING: This may occur in the first few months after an insertion, especially if you have been prescribed progesterone and are not taking properly: i.e. missing doses, or not taking a high enough dose. Please notify the office if this occurs. Bleeding is not necessarily an indication of a significant uterine problem. More than likely, the uterus may be releasing tissue that needs to be eliminated. This tissue may have already been present in your uterus prior to getting pellets and is being released in response to the increase in hormones.</p>
            </div> 
</div>

{% include schedule-consultation.html %}
