---
layout: default
permalink: /services/lower-extremity-treatment
hero: /img/heros/hero-gclinic-trial.jpg
tagline: AASEM Medicare Lower Extremity Pain Clinical Trial
---

<div class="services-row">
	<div class="third">
		<h2>Reset Sensitivity.<br>Improve Circulation</h2>
		<p>Leg and feet pain may be the result of the small nerve fibers in the feet dying off or poor circulation.
		{% include svgs/logo.html %} is engaging in a clinical trial that aims to target these factors.</p>
		<a href="https://clinicaltrials.gov/ct2/show/NCT01979367?term=01979367&rank=1">View the National Clinical Trial Webpage</a>
	</div>
	<div class="third">
		<h3>Are You Suffering?</h3>
		<ul>
			<li>Burning, stinging or painful feet</li>
			<li>Numb feet</li>
			<li>Restless legs syndrome</li>
			<li>Poor balance</li>
			<li>Lower leg swelling</li>
			<li>Chemo-indcued painful feet</li>
			<li>Peripheral vascular disease</li>
			<li>Dialysis-induced painful feet</li>
		</ul>
	</div>
	<div class="third">
		<h3>Covered by Medicare!</h3>
		<p>All office visits, interventions, and diagnostic nerve studies are covered by Medicare.</p>
		<p>Also covered by Medicare replacement plans: Cigna HealthSpring, TexanPlus, BlueCross Medicare, Humana Medicare, and ALL other Medicare advantage plans, etc*</p>
		<p><small>*Sorry, not including Tricare, USFHP, Champus/VA or commercial insurance.</small></p>
	</div>
</div>

<div class="row">
	<div class="third">
		<div class="card">
			<h2>MIRE</h2>
			<p>(infrared light) therapy to increase your peripheral circulation up to 400%</p>
		</div>
		<div class="card">
			<h2>TENS</h2>
			<p>(electrical) therapy to retrain your nerve endings to work correctly</p>
		</div>
		<div class="card">
			<h2>Nerve Blocks</h2>
			<p>(chemical) to control pain and reset nerve sensation toward normal</p>
		</div>
	</div>
	<div class="two-thirds">
		<h3>Treatment Schedule</h3>
		<ul class="spacious">
			<li>The first 2 visits are to see if you qualify by doing PAINLESS nerve studies</li>
			<li>The treatment visits are Monday-Wednesday-Friday for 4 weeks.</li>
			<li>Each lasts 1  1/2 hours. You get MIRE, TENS, and nerve blocks at each visit.</li>
			<li>Midway, and at the final 2 visits we will re-assess with nerve studies.</li>
			<li>If the nerve study reveals normal function or you’re satisfied with your pain relief/overall improvement, you are discharged.</li>
			<li>If the nerve study reveals persistant issues, or pain is still not improved, you may continue therapy.</li>
			<li>After two cycles through, we stop all interventions and let your body respond over time.</li>
			<li>Follow-up nerve studies are done at 3, 6, &amp; 12 months for continued monitoring.</li>
		</ul>
	</div>
</div>

<div class="row tiles">
	<div class="half tile img">
		<img src="../img/lrg-squares/lrg-squares-pain.jpg" alt="An elderly woman with her arms crossed looks up, smiling." />
	</div>
	<div class="half tile text">
		<h2>Suffer from any of the above Symptoms?<br>If you’re Medicare-Eligible, come see if you are a candidate for treatment.</h2>
		<p>Reset the sensitivity of the pain fibers for long-term pain relief.</p>
		<p>Retrain the small nerve fibers to fire correctly.</p>
		<p>Improve circulation to keep nerve fibers functional after they are working properly.</p>
	</div>
</div>

{% include schedule-consultation.html %}