---
layout: default
permalink: /services/weight-loss
hero: /img/heros/hero-gclinic-reflife.jpg
tagline: Reform your life with Reforming Life Medical Weight Loss
keywords: "Gerstenberg, Gertenberg, Gersteberg, Gerstenburg, Gurstenburg, Gutenberg, Gutenburg, Gurtenberg, Gurtenburg, Paul, Doctor, Dr,wellness,Weightloss,Weight,Loss,Lose,Fast,quick,Fat,Medical,Diet,Reforming,Life,Coach,Health coach,HCG,Body,Reshape,Reform,Reset,hypothalamus"
description: "Effective Medical Weight Loss. Gerstenberg.clinic’s Reforming Life program naturally removes stubborn abnormal fat from your body. Reset your hypothalamus to keep you at a normal weight and learn to eat correctly to maintain a healthy weight for life with our health coach."
stylesheet: weight-loss
---

<div class="row cards">
	<div class="third card dark">
		<p>Naturally remove stubborn abnormal fat from your body</p>
	</div>
	<div class="third card dark">
		<p>Reset your hypothalamus to keep you at a normal weight</p>
	</div>
	<div class="third card dark">
		<p>Learn to eat correctly to maintain a healthy weight for life</p>
	</div>
</div>

<div class="row light blurb">
	<div class="third">
		<h2>This is Not a Diet</h2>
		<p>It's a completely different life.</p>
	</div>
	<div class="two-thirds">
		<p>It is important to understand that this is not a diet. It is a medically designed protocol that utilizes a combination of very specific foods at 500 calories per day and the use of HCG to change the way your body processes food.</p>
	</div>
</div>


<div class="row">
	<div class="third">
		<img src="../img/third/third-apples.jpg">
	</div>
	<div class="two-thirds">
		<h3>What is HCG?</h3>
		<p>HCG is an abbreviation for <b>Human Chorionic Gonadotropin</b>. It is a hormone that is naturally produced at very high levels in a women’s body during pregnancy, causing her body to metabolize fat and use it as energy for both mother and baby. Further, it ONLY targets abnormal fat reserves (which are normally the last fat reserves to be used for fuel).</p>
		<p>Men may naturally produce HCG in “microscopic” amounts. However, many safe and proven uses have been reported in men.  Thus, men and women process HCG exactly the same way, targeting abnormal fat reserves to be used as energy.</p>
		<p>Trouble areas like the <b>double chin, potbelly and fat around the hips</b> and thighs are the first to go, while structural and essential fats stay untouched.</p>

		<h3>This Isn't Just Another Fad</h3>
		<p>The use of HCG as a diet aid was first discovered in the 1950’s by British Physician A.T.W. Simeons, who devoted 30 years of his career to the exploration of weight loss treatments.</p>
		<p>Dr. Simeons observed that his patients could drastically reduce caloric intake without experiencing irritability, hunger pains, or weakness while on HCG.</p>
		<p>As Dr. Simeons continued his research, he found that HCG did more than just help his patients lose weight; it also enabled <b>natural reshaping of the body without engaging in exercise</b>.</p>
		<p>The HCG protocol used by {% include svgs/gc-wellness-inline.html %} is a multi-stage program designed to remove abnormal fat from your body, reset your hypothalamus to keep you at a normal weight, and help you learn to eat correctly to maintain that weight for life. </p>
	</div>
</div>

<div class="row dark">
	<p>Eating Regimen for each Lunch and Dinner Meal:</p>
</div>

<div class="row tiles">
	<div class="fourth tile img">
		<img src="../img/sm-squares/sm-square-chicken.jpg" alt="3.5oz of organic veal, beef, chicken breast, turkey, fresh white fish, lobster, crab or shrimp." />
		<div class="overlay">
			<span>3.5oz of organic veal, beef, chicken breast, turkey, fresh white fish, lobster, crab or shrimp.</span>
		</div>
	</div>
	<div class="fourth tile img">
		<img src="../img/sm-squares/sm-square-broccoli.jpg" alt="One cup of vegetables – broccoli, spinach, lettuce, tomatoes, celery, onions and other options."/>
		<div class="overlay">
			<span>One cup of vegetables – broccoli, spinach, lettuce, tomatoes, celery, onions and other options.</span>
		</div>
	</div>
	<div class="fourth tile img">
		<img src="../img/sm-squares/sm-square-apple.jpg" alt="An apple, orange, a handful of strawberries or one-half grapefruit." />
		<div class="overlay">
			<span>An apple, orange, a handful of strawberries or one-half grapefruit.</span>
		</div>
	</div>
	<div class="fourth tile img">
		<img src="../img/sm-squares/sm-square-bread.jpg" alt="One Grissini breadstick or one Melba toast." />
		<div class="overlay">
			<span>One Grissini breadstick or one Melba toast.</span>
		</div>
	</div>
</div>

{% include schedule-consultation.html %}
