---
layout: default
permalink: /services/reflife
hero: /img/heros/hero-gclinic-reflife2.jpg
tagline: "Flexible Options for Your Personal Needs and Goals"
stylesheet: about
---


<div class="row video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/QA-96mf4_4s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="row about-row">
  <div class="half">
    <div class="card light">
      <img src="../img/rl-lifestyle.png" />
    </div>
    <p>
        <b>The Lifestyle Program</b> is a 6 or 12 week program designed to help you change your lifestyle and reach your nealth and nutrition goals. While there are guidelines that will apply to everyone, our goal is to fully customize the coaching and program based on your individual needs.
    </p>
      <div>
      <p> <b>Package Overview:</b></p>
    <ul style="padding-left: 35px;">
        <li>5-Day Cleanse Kit</li>  
        <li>3-5 B-12 Injections</li>
        <li>1-2 Bottles of Probiotics</li>
        <li>Body Composition Analysis</li>
        <li>1x per week Consultation</li>
        <li>Custom Nutrition Support</li>
        <li>Benchmarking Labs</li>
        <li>Program Guide Packet</li>
        <li>Slow and Steady Weight Loss</li>
    </ul>
          </div>
  </div>
  <div class="half">
    <div class="card light">
      <img src="../img/rl-hcg.png" />
    </div>
    <p>
      <b>The Medical Weight Loss Program</b> is 9 weeks. It is designed to help you lose weight and keep it off. Though tailored to each individual, this structure is less customizable. Comparatively, you have very limited food options on this plan, and there isn't any margin for cheat days - you must be able to commit fully to the plan for the duration of the 9 weeks. 
    </p>
    <p><b>Package Overview:</b></p>
    <ul style="padding-left: 35px;">
        <li>40 HCG Injections</li>  
        <li>18 B-12 Injections</li>
        <li>Sharps Container</li>
        <li>Body Composition Analysis</li>
        <li>2x per week Weigh-In</li>
        <li>Strict Dietary Guidelines</li>
        <li>Program Guide Packet</li>
        <li>Rapid Weight Loss Results</li>
    </ul>
  </div>
</div>

<div class="row" style="padding-top: -35px;">
<p>Consultations with the Health Coach are FREE. Schedule an appointment with her to learn more!</p>
</div>

<div class="row light blurb">
	<div class="third">
        <h2>What makes the<br>"Medical Weight Loss" program "medical"?</h2>
	</div>
	<div class="two-thirds">
		<p>It is important to understand that the Medical Weight Loss program is not merely a diet. It is a medically designed protocol that utilizes a combination of very specific foods at 500 calories per day and the use of HCG to <b>change the way your body processes food.</b> Read more on HCG below.</p>
	</div>
</div>


<div class="row">
	<div class="third">
		<img src="../img/third/third-apples.jpg">
	</div>
	<div class="two-thirds">
		<h3>What is HCG?</h3>
		<p>HCG is an abbreviation for <b>Human Chorionic Gonadotropin</b>. It is a hormone that is naturally produced at very high levels in a women’s body during pregnancy, causing her body to metabolize fat and use it as energy for both mother and baby. Further, it ONLY targets abnormal fat reserves (which are normally the last fat reserves to be used for fuel).</p>
		<p>Men may naturally produce HCG in “microscopic” amounts. However, many safe and proven uses have been reported in men.  Thus, men and women process HCG exactly the same way, targeting abnormal fat reserves to be used as energy.</p>
		<p>Trouble areas like the <b>double chin, potbelly and fat around the hips</b> and thighs are the first to go, while structural and essential fats stay untouched.</p>

		<h3>This Isn't Just Another Fad</h3>
		<p>The use of HCG as a diet aid was first discovered in the 1950’s by British Physician A.T.W. Simeons, who devoted 30 years of his career to the exploration of weight loss treatments.</p>
		<p>Dr. Simeons observed that his patients could drastically reduce caloric intake without experiencing irritability, hunger pains, or weakness while on HCG.</p>
		<p>As Dr. Simeons continued his research, he found that HCG did more than just help his patients lose weight; it also enabled <b>natural reshaping of the body without engaging in exercise</b>.</p>
		<p>The HCG protocol used by {% include svgs/gc-wellness-inline.html %} is a multi-stage program designed to remove abnormal fat from your body, reset your hypothalamus to keep you at a normal weight, and help you learn to eat correctly to maintain that weight for life. </p>
        
        <h3>Medically Track Results!</h3>
		<p>With our in-office, medical-grade <a href="seca.html">body composition analyzer</a>, we can monitor your weight loss journey.</p>
		<p>This allows you to monitor how many pounds of fat, water and muscle are currently in your body - which can help you track progress from week to week.</p>
	</div>
</div>

{% include schedule-consultation.html %}

<script>
  $(function() {
    $('.tile.text').on('click', function(e) {
      if ($(window).width() > 1092) return false;

      e.preventDefault();
      $(this).find('.overlay').show();
      return false;
    });

    $('.tile.text .overlay').on('click', function(e) {
      if ($(window).width() > 1092) return false;

      e.preventDefault();
      $(this).hide();
      return false;
    });
  });
</script>