---
layout: default
permalink: /services/weight
hero: /img/heros/hero-gclinic-reflife2.jpg
tagline: "A Medically-Managed Weightloss Protocol"
stylesheet: about
keywords: "weight loss, semaglutide, Ozempic, Wegovy, Rybelsus"
---


<div class="row video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/QA-96mf4_4s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="row about-row">
  <div class="half">
    <div class="card light">
      <img src="../img/rl-hcg.png" />
    </div>
    <p>
      <b>The Medical Weight Loss Program</b> is 8 weeks, following a free consult with a health coach. You will immediately start a colon cleanse and a quality foods diet according to the guidelines within the patient packet while waiting for your medication to arrive. (Roughly one week.) </p>
    <p>You will use once weekly semaglutide injections to curb cravings and hunger. In addition, we provide an oral dissolvable tablet called a troche (TROE-kee), that helps promote energy as well as fat burning. This specific product may change as the best options emerge.
    </p>
    <p><b>Package Overview:</b></p>
    <ul style="padding-left: 35px;">
        <li>Colon cleanse supplement</li>
        <li>Labs: CMP, A1C, lipid panel</li>
        <li>Sublingual trochees with NAD & methylcobalamin</li>
        <li>Semaglutide to last 7 weeks</li>  
        <li>Body Composition Analysis at Consult</li>
        <li>Dietary Guidelines are flexible</li>
        <li>Program Guide Packet</li>
    </ul>   
  </div>
    
  <div class="half">
    <div class="card light">
    <h2>Other Weight-Loss <br>Options Available</h2>
      </div>
    <p>{% include svgs/logo.html %} stays abreast of the current trends in weight loss help. Therefore we can use a variety of options such as the below vitamins, peptides and related supplements to optimize weight loss by favoring satiety, promoting lean muscle mass, and tilting the body toward fat burning. We always carefully study the literature and work with knowledgeable, reputable sources prior to offering them to our patients.
          </p>
    <ul style="padding-left: 35px;">
        <li><a href="#methylb12">Methylcobalamin (methyl-B12)</a></li>
        <li><a href="#nad">NAD</a></li>
        <li><a href="#AOD9604">AOD9604</a></li>
        <li><a href="#bpc157">BPC-157</a></li>  
        <li><a href="#CJC1295">CJC1295</a></li>
        <li><a href="#Melanotan">Melanotan II</a></li>
        <li><a href="#sermo-gly">Sermorelin/Glycine</a></li>
      </ul>            
  </div>    
</div>

<div class="row" style="padding-top: -35px;">
<p>Consultations with the Health Coach are FREE. Schedule an appointment to learn more!</p>
</div>

<div class="row light blurb">
	<div class="third">
        <h2>Why does this medical weight loss protocol work?</h2>
	</div>
	<div class="two-thirds">
      <p>Semaglutide works by mimicking a hormone called glucagon-like peptide-1 (GLP-1), which targets areas of the brain that regulate appetite and food intake.</p> 
    </div>
</div>

<div class="row">
	<div class="third">
		<img src="../img/third/third-nan.jpg">
	</div>
	<div class="two-thirds">
		<h3>What is Semaglutide?</h3>
		 <p>Semaglutide has swept the medical industry as a game changer in weight management. Originally, the incretin mimetic class was introduced in 2006 as a weight-loss option for diabetics. Now, with the availability of semaglutide in this same class of meds, we have learned that <b>incretin acting medications help even NON-diabetics lose weight.</b> In the summer of 2021, the FDA approved semaglutide for weight loss. </p>
		 <p>Semaglutide has swept the medical industry as a game changer in weight management. Originally, the incretin mimetic class was introduced in 2006 as a weight-loss option for diabetics. Now, with the availability of semaglutide in this same class of meds, we have learned that <b>incretin acting medications help even NON-diabetics lose weight.</b> In the summer of 2021, the FDA approved semaglutide for weight loss. </p>

      <p>Since then, the use of semaglutide in weight management has overwhelmed the nation in commercial prescription format. Since becoming available to compound pharmacies, sustained weight loss is <b>even more affordable for a fraction of the cost.</b></p>
        
      <p>Treatment will start with a very low medication dose and then increased gradually. This reduces the most common side effects, which are all gastrointestinal, (like pain, nausea, and diarrhea).</p>    
        
        <h3>Medically Track Results!</h3>
		<p>With our in-office, medical-grade <a href="seca.html">body composition analyzer</a>, we can monitor your weight loss journey.</p>
		<p>This allows you to monitor how many pounds of fat, water and muscle are currently in your body - which can help you track progress from week to week.</p>
	</div>
</div>

<div class="row cards" style="padding-top:30">

	<div class="third card light" id="methylb12">
		<h3>Methylcobalamin (methyl-B12)</h3>
		<p>This is the active form of vitamin B12, that is often associated with energy production and a feeling of wellness. Mental clarity is often experienced by those lacking in adequate B12. The bioactive form of B12 is methylcobalamin, so there is no metabolism needed for your body to put it right to work.</p>
	</div>
    
    <div class="third card light" id="nad">
		<h3>NAD</h3>
		<p>Nicotinamide adenine dinucleotide is used by every cell in the body for energy production. Cellular metabolism literally depends on adequate stores of NAD to produce optimal energy (in the form of ATP, adenosine triphosphate). As we say, NO NAD = NO ENERGY. NAD can be given intravenously (IV route) in those with severe cellular energy deficiency. Ask for more details, or check out our IV menu.</p>
	</div>
    <div class="third card light" id="AOD9604">
		<h3>AOD9604</h3>
		<p>While a bit of a nebulous name for this peptide, it is the portion of human growth hormone (hGH, a much longer peptide) that regulates fat metabolism. So, AOD (as we call it) is not a ‘drug’ per se. Your body manufactures it as ‘growth hormone.’ AOD has been studied in long term use and has had no side effects, and the body does not develop ‘tolerance’ as it does with use of hGH.</p>
	</div> 
</div>

<div class="row cards" style="padding-top:30">

	<div class="third card light" id="CJC1295">
		<h3>CJC1295</h3>
		<p>Another peptide that promotes what each of us desires: a healthier you! This is most commonly provided as an add-on for those that are nearer to ideal body composition who want to push for even more firmness and endurance, while promoting a general sense of wellness and awareness.</p>
	</div>
    
    <div class="third card light" id="Melanotan">
		<h3>Melanotan II</h3>
		<p>Enhances skin pigmentation (tanning) and stimulates weight loss and sexual drive.</p>
	</div>
    <div class="third card light" id="bpc157">
		<h3>BPC-157</h3>
		<p>A peptide that helps with stomach ulcers, intestinal disorders and promotes healing from musculoskeletal injuries.</p>
	</div> 
</div>

<div class="row cards" style="padding-top:30">
    <div class="third card light" id="sermo-gly">
		<h3>Sermorelin/Glycine</h3>
		<p>Sermorelin is a synthetic hormone peptide similar to growth hormone releasing hormone (GHRH) that your body naturally makes. Sermorelin works to burn fat, increase lean muscle, improve hormonal balance, enhance energy and boost the immune system. Glycine goes far beyond encouraging weight loss and enhancing lean muscle mass. Enjoy a better night's sleep, less daytime fatigue, enhance mental clarity/cognition, significantly improved skin elasticity, tone and texture, while receiving an enhanced synergistic boost to IGF1. Glycine is an amino acid that can also act as a neurotransmitter, and has been used to help treat BPH, insomnia, schizophrenia, and stroke.</p>
	</div>      
</div>

{% include schedule-consultation.html %}

<div>
    <h2>Main warnings:</h2>
    <p><b>Don’t use semaglutide if you have ever had pancreatitis.</b> The fine print: Semaglutide is not to be used in combination with other semaglutide-containing products, other GLP-1 receptor agonists, or other products intended for weight loss, other than what we provide and recommend. Safety and efficacy were studied in four 68-week trials in about 2600 patients. The largest placebo-controlled trial enrolled adults without diabetes, where patients on semaglutide lost an average of 12.4% of their initial body weight. In another trial with type 2 diabetes, the average weight loss was 6.2%.
In animal models, there were thyroid C-cell tumors, so we must disclose this potential. However, we are aware of no such occurance in humans. Semaglutide or other meds in the same class should not be used in patients with a personal or family history of medullary thyroid carcinoma or in patients with a rare condition called Multiple Endocrine Neoplasia syndrome type 2 (MEN 2).  
Semaglutide should not be used in patients with a history of severe allergic reactions to semaglutide. Patients should stop semaglutide immediately and seek medical help if a severe allergic reaction is suspected. Semaglutide also contains warnings for inflammation of the pancreas (pancreatitis), gallbladder problems (including gallstones), low blood sugar, acute kidney injury, diabetic retinopathy (damage to the eye's retina), increased heart rate and suicidal behavior or thinking. Patients should discuss with their healthcare professional if they have symptoms of pancreatitis or gallstones. If semaglutide is used with insulin or a substance that causes insulin secretion, patients should speak to their health care provider about potentially lowering the dose of insulin or the insulin-inducing drug to reduce the risk of low blood sugar. Healthcare providers should monitor patients with kidney disease, diabetic retinopathy and depression or suicidal behaviors or thoughts.
    </p>
</div>

<script>
  $(function() {
    $('.tile.text').on('click', function(e) {
      if ($(window).width() > 1092) return false;

      e.preventDefault();
      $(this).find('.overlay').show();
      return false;
    });

    $('.tile.text .overlay').on('click', function(e) {
      if ($(window).width() > 1092) return false;

      e.preventDefault();
      $(this).hide();
      return false;
    });
  });
</script>