---
layout: default
permalink: /services/weight
hero: /img/heros/hero-gclinic-reflife2.jpg
tagline: "A Medically-Managed Weightloss Protocol"
stylesheet: about
---


<div class="row video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/QA-96mf4_4s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="row about-row">
  <div class="half">
    <div class="card light">
      <img src="../img/rl-hcg.png" />
    </div>
    <p>
      <b>The Medical Weight Loss Program</b> is 8 weeks, following a free consult with a health coach. You will immediately start a colon cleanse and a quality foods diet according to the guidelines within the patient packet while waiting for your medication to arrive. (Roughly one week.) You will also receiv
 
    </p>
    <p><b>Package Overview:</b></p>
    <ul style="padding-left: 35px;">
        <li>Colon cleanse supplement</li>
        <li>Labs: CMP, A1C, lipid panel</li>
        <li>Sublingual trochees with NAD & methylcobalamin</li>
        <li>Semaglutide to last 7 weeks</li>  
        <li>Body Composition Analysis at Consult</li>
        <li>Dietary Guidelines are flexible</li>
        <li>Program Guide Packet</li>
    </ul>
  </div>
    
  <div class="half">
    <div class="card light">
      <h2>Other Weight-Loss Options Available</h2>
      </div>
    <p><b>Add-Ons to Program:</b></p>
    <ul style="padding-left: 35px;">
        <li>Stevia Water drops: A variety of flavors help you get the needed hydration</li>
        <li>LipoPLex Injections: May be done 1-2 times per week. The addition of “MIC” (a blend of amino acids) classically helps promote fat burning.</li>
        <li>Prolon 5 day Fasting Mimicking Kit</li>
        <li>Additional labs</li>  
        <li>Additional Seca scans</li>
      </ul>
 <p><b>Supp Additions:</b></p>
      <p>{% include svgs/logo.html %} stays abreast of the current trends in weight loss help. Therefore we can use a variety of options such as the below vitamins, peptides and related supplements to optimize weight loss by favoring satiety, promoting lean muscle mass, and tilting the body toward fat burning. We always carefully study the literature and work with knowledgeable, reputable sources prior to offering them to our patients.
      </p>
    <ul style="padding-left: 35px;">
        <li>Methylcobalamin (methyl-B12)</li>
        <li>NAD</li>
        <li>AOD9604</li>
        <li>BPC-157</li>  
        <li>CJC1295</li>
        <li>Melanotan II</li>
        <li>Sermorelin/Glycine</li>
      </ul>      
  </div>    
</div>

<div class="row" style="padding-top: -35px;">
<p>Consultations with the Health Coach are FREE. Schedule an appointment with her to learn more!</p>
</div>

<div class="row light blurb">
	<div class="third">
        <h2>What makes the<br>"Medical Weight Loss" program "medical"?</h2>
	</div>
	<div class="two-thirds">
		<p>It is important to understand that the Medical Weight Loss program is not merely a diet. It is a medically designed protocol that utilizes a combination of very specific foods at 500 calories per day and the use of HCG to <b>change the way your body processes food.</b> Read more on HCG below.</p>
	</div>
</div>


<div class="row">
	<div class="third">
		<img src="../img/third/third-apples.jpg">
	</div>
	<div class="two-thirds">
		<h3>What is HCG?</h3>
		<p>HCG is an abbreviation for <b>Human Chorionic Gonadotropin</b>. It is a hormone that is naturally produced at very high levels in a women’s body during pregnancy, causing her body to metabolize fat and use it as energy for both mother and baby. Further, it ONLY targets abnormal fat reserves (which are normally the last fat reserves to be used for fuel).</p>
		<p>Men may naturally produce HCG in “microscopic” amounts. However, many safe and proven uses have been reported in men.  Thus, men and women process HCG exactly the same way, targeting abnormal fat reserves to be used as energy.</p>
		<p>Trouble areas like the <b>double chin, potbelly and fat around the hips</b> and thighs are the first to go, while structural and essential fats stay untouched.</p>

		<h3>This Isn't Just Another Fad</h3>
		<p>The use of HCG as a diet aid was first discovered in the 1950’s by British Physician A.T.W. Simeons, who devoted 30 years of his career to the exploration of weight loss treatments.</p>
		<p>Dr. Simeons observed that his patients could drastically reduce caloric intake without experiencing irritability, hunger pains, or weakness while on HCG.</p>
		<p>As Dr. Simeons continued his research, he found that HCG did more than just help his patients lose weight; it also enabled <b>natural reshaping of the body without engaging in exercise</b>.</p>
		<p>The HCG protocol used by {% include svgs/gc-wellness-inline.html %} is a multi-stage program designed to remove abnormal fat from your body, reset your hypothalamus to keep you at a normal weight, and help you learn to eat correctly to maintain that weight for life. </p>
        
        <h3>Medically Track Results!</h3>
		<p>With our in-office, medical-grade <a href="seca.html">body composition analyzer</a>, we can monitor your weight loss journey.</p>
		<p>This allows you to monitor how many pounds of fat, water and muscle are currently in your body - which can help you track progress from week to week.</p>
	</div>
</div>

{% include schedule-consultation.html %}

<script>
  $(function() {
    $('.tile.text').on('click', function(e) {
      if ($(window).width() > 1092) return false;

      e.preventDefault();
      $(this).find('.overlay').show();
      return false;
    });

    $('.tile.text .overlay').on('click', function(e) {
      if ($(window).width() > 1092) return false;

      e.preventDefault();
      $(this).hide();
      return false;
    });
  });
</script>